<!-- Widget: Links -->
<Linkside className="widget widget--footer widget_nav_menu">
	<h4 className="widget__title">Useful Links</h4>
	<div className="widget__content">
		<div className="row">
			<div className="col">
				<ul className="widget__list">
					<li><Link href="index.html">Home</Link></li>
					<li><Link href="_esports_blog-1.html">News Page</Link></li>
					<li><Link href="_esports_blog-post-1.html">Post Page</Link></li>
					<li><Link href="_esports_team-overview.html">Teams</Link></li>
					<li><Link href="_esports_team-last-results.html">Team Stats</Link></li>
					<li><Link href="_esports_team-roster.html">Roster</Link></li>
					<li><Link href="_esports_event-tournament.html">Tournament</Link></li>
				</ul>
			</div>
			<div className="col">
				<ul className="widget__list">
					<li><Link href="_esports_team-player.html">Player Bio</Link>
					<li><Link href="_esports_event-overview-1a.html">Match Stats</Link>
					<li><Link href="_esports_event-overview-1a.html">Live Stream</Link>
					<li><Link href="_esports_team-gallery.html">Gallery</Link>
					<li><Link href="_esports_team-videos.html">Videos</Link>
					<li><Link href="_esports_shop-fullwidth.html">Merchandise</Link>
					<li><Link href="_esports_features-shortcodes.html">Shortcodes</Link>
				</ul>
			</div>
		</div>
	</div>
</Linkside>
<!-- Widget: Links / End -->
