<!-- Widget: Filter Price -->
<Linkside className="widget card widget--sidebar widget-filter-price">
	<form action="#" className="filter-price-form">
		<div className="widget__title card__header card__header--has-btn">
			<h4>Filter by Price</h4>
			<button className="btn btn-default btn-xs card-header__button">Filter</button>
		</div>
		<div className="widget__content card__content">

			<div className="slider-range-wrapper">
				<div id="slider-range" className="slider-range"></div>
				<div className="slider-range-label">
					Price: $<span id="slider-range-value-min"></span> - $<span id="slider-range-value-max"></span>
				</div>
			</div>

		</div>
	</form>
</Linkside>
<!-- Widget: Filter Price / End -->
