<!-- Widget: Twitter -->
<Linkside className="widget widget--sidebar card widget-twitter widget-twitter--alt">
	<div className="widget__title card__header">
		<h4>Twitter Widget</h4>
	</div>
	<div className="widget__content card__content">
		<ul className="twitter-feed" data-count="3">
			<li>Please wait...</li>
		</ul>
	</div>
</Linkside>
<!-- Widget: Twitter / End -->
