<!-- Yearly Stats -->
<div className="card">
	<div className="card__header card__header--has-legend">
		<h4>Yearly Stats</h4>
		<div id="gamesYearlyLegendEsports" className="chart-legend"></div>
	</div>
	<div className="card__content">
		<canvas id="yearly-history-esports" className="points-history-chart" height="127"></canvas>
	</div>
</div>
<!-- Yearly Stats / End -->
