<!-- Widget: Links -->
<Linkside className="widget widget--footer widget_nav_menu">
	<h4 className="widget__title">Streams</h4>
	<div className="widget__content">
		<ul className="widget__list">
			<li><Link href="_esports_team-player.html">The Destroy</Link>
			<li><Link href="_esports_team-player.html">FayeDaBebop</Link>
			<li><Link href="_esports_team-player.html">Crazzzy_80</Link>
			<li><Link href="_esports_team-player.html">Game Huntress</Link>
			<li><Link href="_esports_team-player.html">Logan-X</Link>
			<li><Link href="_esports_team-player.html">Kelly_Spiegel9</Link>
		</ul>
	</div>
</Linkside>
<!-- Widget: Links / End -->
