<!-- Widget: Games History -->
<Linkside className="widget card widget--sidebar widget-games-history">
	<div className="widget__title card__header card__header--has-legend">
		<h4>Matches History</h4>
		<div id="gamesHistoryLegendEsports" className="chart-legend chart-legend--games-history"></div>
	</div>
	<div className="widget__content card__content">
		<canvas id="games-history-esports" className="games-history-chart" height="126"></canvas>
	</div>
</Linkside>
<!-- Widget: Games History / End -->
