<!-- Widget: Team Stats -->
<Linkside className="widget widget--sidebar card card--has-table widget-team-stats">
	<div className="widget__title card__header">
		<h4>Team Statistics</h4>
	</div>
	<div className="widget__content card__content">
		<ul className="team-stats-box">
			<li className="team-stats__item team-stats__item--clean">
				<div className="team-stats__icon team-stats__icon--circle-outline team-stats__icon--size-sm team-stats__icon--centered">
					<svg role="img" className="df-icon df-icon--crosshair">
						<use xlink:href="{{../root}}assets/images/esports/icons-esports.svg#crosshair"/>
					</svg>
					<span className="team-stats__indicator" data-toggle="tooltip" data-placement="top" title="+4.2">+</span>
				</div>
				<div className="team-stats__value">17.4</div>
				<div className="team-stats__label">Average Kills</div>
				<div className="team-stats__sublabel">in all time</div>
			</li>
			<li className="team-stats__item team-stats__item--clean">
				<div className="team-stats__icon team-stats__icon--circle-outline team-stats__icon--size-sm team-stats__icon--centered">
					<svg role="img" className="df-icon df-icon--dead-face">
						<use xlink:href="{{../root}}assets/images/esports/icons-esports.svg#dead-face"/>
					</svg>
					<span className="team-stats__indicator" data-toggle="tooltip" data-placement="top" title="-2.7">-</span>
				</div>
				<div className="team-stats__value">8.5</div>
				<div className="team-stats__label">Average Deaths</div>
				<div className="team-stats__sublabel">in all time</div>
			</li>
			<li className="team-stats__item team-stats__item--clean">
				<div className="team-stats__icon team-stats__icon--circle-outline team-stats__icon--size-sm team-stats__icon--centered">
					<svg role="img" className="df-icon df-icon--thumbs-up">
						<use xlink:href="{{../root}}assets/images/esports/icons-esports.svg#thumbs-up"/>
					</svg>
					<span className="team-stats__indicator" data-toggle="tooltip" data-placement="top" title="+1.8">+</span>
				</div>
				<div className="team-stats__value">39.7</div>
				<div className="team-stats__label">Average Assists</div>
				<div className="team-stats__sublabel">in all time</div>
			</li>
			<li className="team-stats__item team-stats__item--clean">
				<div className="team-stats__icon team-stats__icon--circle-outline team-stats__icon--size-sm team-stats__icon--centered">
					<svg role="img" className="df-icon df-icon--trophy">
						<use xlink:href="{{../root}}assets/images/esports/icons-esports.svg#trophy"/>
					</svg>
				</div>
				<div className="team-stats__value">12</div>
				<div className="team-stats__label">Competitions Won</div>
				<div className="team-stats__sublabel">in all time</div>
			</li>
		</ul>
	</div>
</Linkside>
<!-- Widget: Team Stats / End -->
