<!-- Widget: Events Calendar -->
<Linkside className="widget card card--no-paddings widget-event-calendar">
	<div className="widget__title card__header">
		<h4>Events Calendar</h4>
	</div>
	<div className="widget__content card__content">

		<!-- Events Calendar -->
		<div className="alc-event-calendar">
			<table className="table table-bordered">
				<caption>
					<span className="alc-event-calendar__caption-inner">
						<span className="alc-event-calendar__caption-nav alc-event-calendar__caption-nav--prev">
							<Link href="#" className="alc-event-calendar__caption-nav-link"></Link>
						</span>
						<span className="alc-event-calendar__caption-title">November 2018</span>
						<span className="alc-event-calendar__caption-nav alc-event-calendar__caption-nav--next">
							<Link href="#" className="alc-event-calendar__caption-nav-link"></Link>
						</span>
					</span>
				</caption>
				<thead>
					<tr>
						<th data-weekday-abbr="Mon"><span className="weekday">Monday</span></th>
						<th data-weekday-abbr="Tue"><span className="weekday">Tuesday</span></th>
						<th data-weekday-abbr="Wed"><span className="weekday">Wednesday</span></th>
						<th data-weekday-abbr="Thu"><span className="weekday">Thursday</span></th>
						<th data-weekday-abbr="Fri"><span className="weekday">Friday</span></th>
						<th data-weekday-abbr="Sat"><span className="weekday">Saturday</span></th>
						<th data-weekday-abbr="Sun"><span className="weekday">Sunday</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span className="day day--muted">28</span></td>
						<td><span className="day day--muted">29</span></td>
						<td><span className="day day--muted">30</span></td>
						<td><span className="day day--muted">31</span></td>
						<td><span className="day">1</span></td>
						<td><span className="day">2</span></td>
						<td><span className="day">3</span></td>
					</tr>
					<tr>
						<td><span className="day">4</span></td>
						<td><span className="day">5</span></td>
						<td><span className="day">6</span></td>
						<td><span className="day">7</span></td>
						<td><span className="day">8</span></td>
						<td>
							<span className="day day--active day--type-1">9</span>
							<h6 className="alc-event-calendar__event alc-event-calendar__event--type-1">
								<Link href="_esports_event-overview-1a.html">Game Huntress "Inktoon 2" Stream</Link>
							</h6>
						</td>
						<td><span className="day">10</span></td>
					</tr>
					<tr>
						<td><span className="day">11</span></td>
						<td><span className="day">12</span></td>
						<td><span className="day">13</span></td>
						<td><span className="day">14</span></td>
						<td><span className="day">15</span></td>
						<td><span className="day">16</span></td>
						<td><span className="day">17</span></td>
					</tr>
					<tr>
						<td><span className="day">18</span></td>
						<td><span className="day">19</span></td>
						<td>
							<span className="day day--active day--type-4">20</span>
							<h6 className="alc-event-calendar__event alc-event-calendar__event--type-4">
								<Link href="_esports_event-overview-1b.html">Xenowatch Patch 5.6 Update Release</Link>
							</h6>
						</td>
						<td><span className="day">21</span></td>
						<td><span className="day">22</span></td>
						<td><span className="day">23</span></td>
						<td><span className="day">24</span></td>
					</tr>
					<tr>
						<td><span className="day">25</span></td>
						<td><span className="day">26</span></td>
						<td><span className="day">27</span></td>
						<td><span className="day">28</span></td>
						<td><span className="day">29</span></td>
						<td><span className="day">30</span></td>
						<td><span className="day day--muted">1</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Events Calendar / End -->

		<!-- Events List -->
		<ul className="alc-event-list list-unstyled">
			<li className="alc-event-list__item alc-event-list-item alc-event-list-item--type-1">
				<div className="alc-event-list-item__header">
					<time className="alc-event-list-item__date">Friday, September 9th</time>
				</div>
				<div className="alc-event-list-item__body">
					<div className="alc-event-list-item__time">09:00 PM</div>
					<div className="alc-event-list-item__info">
						<h6 className="alc-event-list-item__title"><Link href="_esports_event-overview-1a.html">Game Huntress "Inktoon 2" Stream</Link></h6>
						<p className="alc-event-list-item__desc">Join me to play the multiplayer</p>
					</div>
					<div className="alc-event-list-item__cta">
						<Link href="#" className="btn btn-default-alt btn-xs">Check More Details</Link>
					</div>
				</div>
			</li>
			<li className="alc-event-list__item alc-event-list-item alc-event-list-item--type-4">
				<div className="alc-event-list-item__header">
					<time className="alc-event-list-item__date">Tuesday, September 20th</time>
				</div>
				<div className="alc-event-list-item__body">
					<div className="alc-event-list-item__time">11:00 PM</div>
					<div className="alc-event-list-item__info">
						<h6 className="alc-event-list-item__title"><Link href="_esports_event-overview-1b.html">Xenowatch Patch 5.6 Update Release</Link></h6>
						<p className="alc-event-list-item__desc">Bug fixes and a new character!</p>
					</div>
					<div className="alc-event-list-item__cta">
						<Link href="#" className="btn btn-default-alt btn-xs">Check More Details</Link>
					</div>
				</div>
			</li>
		</ul>
		<!-- Events List / End -->
	</div>
</Linkside>
<!-- Widget: Events Calendar / End -->
