<!-- Widget: Horizontal Bar Chart -->
<Linkside className="widget card widget--sidebar">
	<div className="widget__title card__header">
		<h4>Horizontal Bar Chart</h4>
	</div>
	<div className="widget__content card__content">
		<canvas id="chart-horizontal-bars-esports" className="games-history-chart" height="230"></canvas>
	</div>
</Linkside>
<!-- Widget: Horizontal Bar Chart / End -->
