<!-- Widget: Doughnut Chart -->
<Linkside className="widget card widget--sidebar">
	<div className="widget__title card__header">
		<h4>Doughnut Chart Stats</h4>
	</div>
	<div className="widget__content card__content">
		<canvas id="chart-doughnut-esports" height="208"></canvas>
		<div id="chartDoughnutLegendEsports" className="chart-legend chart-legend--center"></div>
	</div>
</Linkside>
<!-- Widget: doughnut Chart / End -->
