<!-- Widget: Contact / End -->
<div className="widget widget--footer widget-contact">
	<h4 className="widget__title">Quick Contact</h4>
	<div className="widget__content">
		<p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor.</p>
		<form action="#" className="contact-form">
			<div className="form-group form-group--xs">
				<input type="email" className="form-control input-sm" id="contact-form-email" placeholder="Your email address...">
			</div>
			<div className="form-group form-group--xs">
				<textarea className="form-control input-sm" name="contact-form-message" rows="4" placeholder="Your message..."></textarea>
			</div>
			<button type="submit" className="btn btn-primary-inverse btn-sm btn-block">Send Your Message</button>
		</form>
	</div>
</div>
<!-- Widget: Contact / End -->
