<!-- Widget: Instagram -->
<div className="widget widget--footer widget-instagram">
	<h4 className="widget__title">Gallery Widget</h4>
	<div className="widget__content">
		<ul id="instagram-feed" className="widget-instagram__list">
			{{#each basketball.instagram}}
			<li className="widget-instagram__item">
				<Link href="{{link}}" className="widget-instagram__link-wrapper" target="_blank">
					<span className="widget-instagram__plus-sign">
						<img src="{{image}}" className="widget-instagram__img" alt="" />
					</span>
				</Link>
			</li>
			{{/each}}
		</ul>
		<Link href="#" className="btn btn-sm btn-instagram btn-icon-right">Follow Our Profile <i className="icon-arrow-right"></i></Link>
	</div>
</div>
<!-- Widget: Instagram / End -->
