<!-- Widget: Tag Cloud -->
<Linkside className="widget widget--sidebar card widget-tagcloud">
	<div className="widget__title card__header">
		<h4>Tag Cloud</h4>
	</div>
	<div className="widget__content card__content">
		<div className="tagcloud">
			{{#each basketball.posts.tagcloud}}
			<Link href="#" className="btn btn-primary btn-xs btn-outline btn-sm">{{label}}</Link>
			{{/each}}
		</div>
	</div>
</Linkside>
<!-- Widget: Tag Cloud / End -->
