<!-- Widget: Color Filter -->
<Linkside className="widget card widget--sidebar widget_color-picker">
	<form action="#" className="color-picker-form">
		<div className="widget__title card__header card__header--has-btn">
			<h4>Filter by Color</h4>
			<button className="btn btn-default btn-outline btn-xs card-header__button">Filter</button>
		</div>
		<div className="widget__content card__content">

			<ul className="filter-color">
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_1" value="1" className="color-violet">
						<span className="checkbox-indicator"></span>
					</label>
				</li>
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_2" value="2" className="color-blue" checked>
						<span className="checkbox-indicator"></span>
					</label>
				</li>
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_3" value="3" className="color-light-blue">
						<span className="checkbox-indicator"></span>
					</label>
				</li>
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_4" value="4" className="color-cyan">
						<span className="checkbox-indicator"></span>
					</label>
				</li>
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_5" value="5" className="color-aqua">
						<span className="checkbox-indicator"></span>
					</label>
				</li>
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_6" value="6" className="color-green">
						<span className="checkbox-indicator"></span>
					</label>
				</li>
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_7" value="7" className="color-yellow">
						<span className="checkbox-indicator"></span>
					</label>
				</li>
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_8" value="8" className="color-orange">
						<span className="checkbox-indicator"></span>
					</label>
				</li>
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_9" value="9" className="color-red" checked>
						<span className="checkbox-indicator"></span>
					</label>
				</li>
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_10" value="10" className="color-black" checked>
						<span className="checkbox-indicator"></span>
					</label>
				</li>
				<li className="filter-color__item">
					<label className="checkbox">
						<input type="checkbox" id="product_color_11" value="11" className="color-white">
						<span className="checkbox-indicator"></span>
					</label>
				</li>
			</ul>
		</div>
	</form>
</Linkside>
<!-- Widget: Color Filter / End -->
