<!-- Widget: Match Announcement - Alternative -->
<Linkside className="widget widget--sidebar card widget-preview">
	<div className="widget__title card__header">
		<h4>Next Match</h4>
	</div>
	<div className="widget__content card__content">

		<!-- Match Preview -->
		<div className="match-preview match-preview--alt">
			<section className="match-preview__body">
				<header className="match-preview__header">
					<h3 className="match-preview__title">Championship Quarter Finals</h3>
					<time className="match-preview__date" datetime="2017-05-17">Saturday, May 17th, 2017</time>
				</header>
				<div className="match-preview__content">

					<!-- 1st Team -->
					<div className="match-preview__team match-preview__team--first">
						<figure className="match-preview__team-logo">
							<img src="{{../root}}assets/images/samples/logos/alchemists_buy_tickets_v2.png" alt="">
						</figure>
						<div className="match-prevew__team-details">
							<h5 className="match-preview__team-name">Alc</h5>
							<div className="match-preview__team-info">The Idaho Esports</div>
						</div>
					</div>
					<!-- 1st Team / End -->

					<div className="match-preview__vs">
						<div className="match-preview__conj">VS</div>
					</div>

					<!-- 2nd Team -->
					<div className="match-preview__team match-preview__team--second">
						<div className="match-prevew__team-details">
							<h5 className="match-preview__team-name">Clo</h5>
							<div className="match-preview__team-info">Lucky Clovers</div>
						</div>
						<figure className="match-preview__team-logo">
							<img src="{{../root}}assets/images/samples/logos/lucky_clovers_buy_tickets_v2.png" alt="">
						</figure>
					</div>
					<!-- 2nd Team / End -->

				</div>

				<!-- Call to Action -->
				<div className="match-preview__action">
					<div className="match-preview__match-info">
						<time className="match-preview__match-time" datetime="2018-07-28 09:00">9:00 <small>PM</small> EST</time>
						<div className="match-preview__match-place">Madison Cube Stadium</div>
					</div>
					<div className="match-preview__action-btn">
						<Link href="/"  className="btn btn-default btn-block">Buy Tickets Now</Link>
					</div>
				</div>
				<!-- Call to Action / End -->

			</section>
			<section className="match-preview__countdown countdown">
				<h4 className="countdown__title">Game Countdown</h4>
				<div className="countdown__content">
					<div className="countdown-counter" data-date="June 18, 2022 21:00:00"></div>
				</div>
			</section>
		</div>
		<!-- Match Preview / End -->

	</div>
</Linkside>
<!-- Widget: Match Announcement - Alternative / End -->
