<!-- Widget: Categories -->
<Linkside className="widget card widget--sidebar widget_categories">
	<div className="widget__title card__header">
		<h4>Categories</h4>
	</div>
	<div className="widget__content card__content">
		<ul className="widget__list">
			<li><Link href="#">All Products</Link></li>
			<li><Link href="#">Shirt and Hoodies</Link></li>
			<li className="has-children"><Link href="#">Sneakers</Link>
				<ul>
					<li><Link href="#">The Alchemist Sneakers</Link></li>
					<li><Link href="#">Running Collection</Link></li>
					<li><Link href="#">James Girobili Collection</Link></li>
				</ul>
			</li>
			<li><Link href="#">Hats and Caps</Link></li>
			<li><Link href="#">Merchandising</Link></li>
		</ul>
	</div>
</Linkside>
<!-- Widget: Categories / End -->
