<!-- Widget: Filter Size -->
<Linkside className="widget card widget--sidebar widget_filter-size">
	<form action="#" className="filter-size-form">
		<div className="widget__title card__header card__header--has-btn">
			<h4>Filter by Size</h4>
			<button className="btn btn-default btn-outline btn-xs card-header__button">Filter</button>
		</div>
		<div className="widget__content card__content">
			<div className="form-group form-group--xs">
				<label className="checkbox checkbox-inline">
					<input type="checkbox" id="size-sm" value="1"> Small
					<span className="checkbox-indicator"></span>
				</label>
			</div>
			<div className="form-group form-group--xs">
				<label className="checkbox checkbox-inline">
					<input type="checkbox" id="size-m" value="2" checked> Medium
					<span className="checkbox-indicator"></span>
				</label>
			</div>
			<div className="form-group form-group--xs">
				<label className="checkbox checkbox-inline">
					<input type="checkbox" id="size-l" value="3"> Large
					<span className="checkbox-indicator"></span>
				</label>
			</div>
			<div className="form-group form-group--xs">
				<label className="checkbox checkbox-inline">
					<input type="checkbox" id="size-xl" value="3"> Extra Large
					<span className="checkbox-indicator"></span>
				</label>
			</div>
		</div>
	</form>
</Linkside>
<!-- Widget: Filter Size / End -->
