<!-- Widget: Player Newslog -->
<Linkside className="widget card widget--sidebar widget-newslog">
	<div className="widget__title card__header">
		<h4>Staff Newslog</h4>
	</div>
	<div className="widget__content card__content">
		<ul className="newslog">

			{{#each basketball.sp.staff.newslog}}
			<li className="newslog__item newslog__item--{{type}}">
				<div className="newslog__item-inner">
					<div className="newslog__content">{{{content}}}</div>
					<div className="newslog__date">{{date}}</div>
				</div>
			</li>
			{{/each}}

		</ul>
	</div>
</Linkside>
<!-- Widget: Player Newslog / End -->
