<!-- Widget: Team Leaders -->
<Linkside className="widget widget--sidebar card card--has-table widget-leaders">
	<div className="widget__title card__header">
		<h4>Team Leaders</h4>
	</div>
	<div className="widget__content card__content">

		<!-- Leader: Points -->
		<div className="table-responsive">
			<table className="table team-leader">
				<thead>
					<tr>
						<th className="team-leader__type">Points</th>
						<th className="team-leader__total">TP</th>
						<th className="team-leader__gp">GP</th>
						<th className="team-leader__avg">AVG</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td className="team-leader__player">
							<div className="team-leader__player-info">
								<figure className="team-leader__player-img">
									<img src="{{../root}}assets/images/samples/stats_player_01.jpg" alt="">
								</figure>
								<div className="team-leader__player-inner">
									<h5 className="team-leader__player-name">James Girobili</h5>
									<span className="team-leader__player-position">1st Shoting Guard</span>
								</div>
							</div>
						</td>
						<td className="team-leader__total">424</td>
						<td className="team-leader__gp">20</td>
						<td className="team-leader__avg">
							<div className="circular">
								<div className="circular__bar" data-percent="85">
									<span className="circular__percents">21.2</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Leader: Points / End -->

		<!-- Leader: Assists -->
		<div className="table-responsive">
			<table className="table team-leader">
				<thead>
					<tr>
						<th className="team-leader__type">Assists</th>
						<th className="team-leader__total">TA</th>
						<th className="team-leader__gp">GP</th>
						<th className="team-leader__avg">AVG</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td className="team-leader__player">
							<div className="team-leader__player-info">
								<figure className="team-leader__player-img">
									<img src="{{../root}}assets/images/samples/stats_player_02.jpg" alt="">
								</figure>
								<div className="team-leader__player-inner">
									<h5 className="team-leader__player-name">Mark Stevens</h5>
									<span className="team-leader__player-position">1st Power Forward</span>
								</div>
							</div>
						</td>
						<td className="team-leader__total">136</td>
						<td className="team-leader__gp">20</td>
						<td className="team-leader__avg">
							<div className="circular">
								<div className="circular__bar" data-percent="85">
									<span className="circular__percents">6.8</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Leader: Assists / End -->

		<!-- Leader: Steals -->
		<div className="table-responsive">
			<table className="table team-leader">
				<thead>
					<tr>
						<th className="team-leader__type">Steals</th>
						<th className="team-leader__total">TS</th>
						<th className="team-leader__gp">GP</th>
						<th className="team-leader__avg">AVG</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td className="team-leader__player">
							<div className="team-leader__player-info">
								<figure className="team-leader__player-img">
									<img src="{{../root}}assets/images/samples/stats_player_02.jpg" alt="">
								</figure>
								<div className="team-leader__player-inner">
									<h5 className="team-leader__player-name">Mark Stevens</h5>
									<span className="team-leader__player-position">1st Power Forward</span>
								</div>
							</div>
						</td>
						<td className="team-leader__total">149</td>
						<td className="team-leader__gp">20</td>
						<td className="team-leader__avg">
							<div className="circular">
								<div className="circular__bar" data-percent="85">
									<span className="circular__percents">14.9</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Leader: Steals / End -->

		<!-- Leader: Steals -->
		<div className="table-responsive">
			<table className="table team-leader">
				<thead>
					<tr>
						<th className="team-leader__type">Rebounds</th>
						<th className="team-leader__total">TR</th>
						<th className="team-leader__gp">GP</th>
						<th className="team-leader__avg">AVG</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td className="team-leader__player">
							<div className="team-leader__player-info">
								<figure className="team-leader__player-img">
									<img src="{{../root}}assets/images/samples/stats_player_01.jpg" alt="">
								</figure>
								<div className="team-leader__player-inner">
									<h5 className="team-leader__player-name">James Girobili</h5>
									<span className="team-leader__player-position">1st Shoting Guard</span>
								</div>
							</div>
						</td>
						<td className="team-leader__total">93</td>
						<td className="team-leader__gp">20</td>
						<td className="team-leader__avg">
							<div className="circular">
								<div className="circular__bar" data-percent="85">
									<span className="circular__percents">9.3</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Leader: Steals / End -->


	</div>
</Linkside>
<!-- Widget: Team Leaders / End -->
