<!-- Widget: Banner -->
<Linkside className="widget card widget--sidebar widget-banner">
	<div className="widget__title card__header">
		<h4>Advertisement</h4>
	</div>
	<div className="widget__content card__content">
		<figure className="widget-banner__img">
			<Link href="https://themeforest.net/item/the-alchemists-sports-news-html-template/19106722?ref=dan_fisher"><img src="{{../root}}assets/images/samples/banner.jpg" alt="Banner"></Link>
		</figure>
	</div>
</Linkside>
<!-- Widget: Banner / End -->
