<!-- Widget: Featured Player - Alternative without Image -->
<Linkside className="widget card widget--sidebar widget-player widget-player--alt">
	<div className="widget__title card__header">
		<h4>Player Main Stats</h4>
	</div>
	<div className="widget__content-secondary">

		<!-- Player Details -->
		<div className="widget-player__details">

			<div className="widget-player__details__item">
				<div className="widget-player__details-desc-wrapper">
					<span className="widget-player__details-holder">
						<span className="widget-player__details-label">2 Points</span>
						<span className="widget-player__details-desc">In his career</span>
					</span>
					<span className="widget-player__details-value">1250</span>
				</div>
			</div>
			<div className="widget-player__details__item">
				<div className="widget-player__details-desc-wrapper">
					<span className="widget-player__details-holder">
						<span className="widget-player__details-label">3 Points</span>
						<span className="widget-player__details-desc">In his career</span>
					</span>
					<span className="widget-player__details-value">680</span>
				</div>
			</div>
			<div className="widget-player__details__item">
				<div className="widget-player__details-desc-wrapper">
					<span className="widget-player__details-holder">
						<span className="widget-player__details-label">Rebounds</span>
						<span className="widget-player__details-desc">In his career</span>
					</span>
					<span className="widget-player__details-value">234</span>
				</div>
			</div>
			<div className="widget-player__details__item">
				<div className="widget-player__details-desc-wrapper">
					<span className="widget-player__details-holder">
						<span className="widget-player__details-label">Assists</span>
						<span className="widget-player__details-desc">In his career</span>
					</span>
					<span className="widget-player__details-value">751</span>
				</div>
			</div>
			<div className="widget-player__details__item">
				<div className="widget-player__details-desc-wrapper">
					<span className="widget-player__details-holder">
						<span className="widget-player__details-label">Steals</span>
						<span className="widget-player__details-desc">In his career</span>
					</span>
					<span className="widget-player__details-value">472</span>
				</div>
			</div>
			<div className="widget-player__details__item">
				<div className="widget-player__details-desc-wrapper">
					<span className="widget-player__details-holder">
						<span className="widget-player__details-label">Blocks</span>
						<span className="widget-player__details-desc">In his career</span>
					</span>
					<span className="widget-player__details-value">565</span>
				</div>
			</div>
			<div className="widget-player__details__item">
				<div className="widget-player__details-desc-wrapper">
					<span className="widget-player__details-holder">
						<span className="widget-player__details-label">Fouls</span>
						<span className="widget-player__details-desc">In his career</span>
					</span>
					<span className="widget-player__details-value">97</span>
				</div>
			</div>
			<div className="widget-player__details__item">
				<div className="widget-player__details-desc-wrapper">
					<span className="widget-player__details-holder">
						<span className="widget-player__details-label">Game Played</span>
						<span className="widget-player__details-desc">In his career</span>
					</span>
					<span className="widget-player__details-value">104</span>
				</div>
			</div>

		</div>
		<!-- Player Details / End -->

	</div>

	<div className="widget__content-tertiary widget__content--bottom-decor">
		<div className="widget__content-inner">
			<div className="widget-player__stats row">
				<div className="col-4">
					<div className="widget-player__stat-item">
						<div className="widget-player__stat-circular circular">
							<div className="circular__bar" data-percent="88">
								<span className="circular__percents">88<small>%</small></span>
							</div>
							<span className="circular__label">Shot<br> Accuracy</span>
						</div>
					</div>
				</div>
				<div className="col-4">
					<div className="widget-player__stat-item">
						<div className="widget-player__stat-circular circular">
							<div className="circular__bar" data-percent="63">
								<span className="circular__percents">63<small>%</small></span>
							</div>
							<span className="circular__label">Pass<br> Accuracy</span>
						</div>
					</div>
				</div>
				<div className="col-4">
					<div className="widget-player__stat-item">
						<div className="widget-player__stat-circular circular">
							<div className="circular__bar" data-percent="75.5">
								<span className="circular__percents">75.5<small>%</small></span>
							</div>
							<span className="circular__label">Total<br> Efficiency</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</Linkside>
<!-- Widget: Featured Player - Alternative without Image / End -->
