<!-- Widget: Calendar -->
<Linkside className="widget card card--has-table widget--sidebar widget-calendar">
	<div className="widget__title card__header">
		<h4>Events Calendar</h4>
	</div>
	<div className="widget__content card__content">

	<div id="calendar_wrap" className="calendar_wrap">
		<table>
			<caption>
				<span className="prev"><Link href="#"></Link></span>
				September 2017
				<span className="next"><Link href="#"></Link></span>
			</caption>
			<thead>
				<tr>
					<th scope="col" title="Sunday">SU</th>
					<th scope="col" title="Monday">MO</th>
					<th scope="col" title="Tuesday">TU</th>
					<th scope="col" title="Wednesday">WE</th>
					<th scope="col" title="Thursday">TH</th>
					<th scope="col" title="Friday">FR</th>
					<th scope="col" title="Saturday">SA</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td colspan="3" className="pad">&nbsp;</td>
					<td>1</td>
					<td><Link href="#" data-toggle="tooltip" data-placement="top" title="Idaho Esports vs Sharks">2</Link></td>
					<td>3</td>
					<td>4</td>
				</tr>
				<tr>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
				</tr>
				<tr>
					<td>12</td>
					<td>13</td>
					<td>14</td>
					<td>15</td>
					<td>16</td>
					<td>17</td>
					<td>18</td>
				</tr>
				<tr>
					<td><Link href="#" data-toggle="tooltip" data-placement="top" title="Idaho Esports vs Clovers">19</Link></td>
					<td>20</td>
					<td>21</td>
					<td>22</td>
					<td>23</td>
					<td>24</td>
					<td>25</td>
				</tr>
				<tr>
					<td>26</td>
					<td>27</td>
					<td>28</td>
					<td>29</td>
					<td>30</td>
					<td>31</td>
					<td className="pad" colspan="1">&nbsp;</td>
				</tr>
			</tbody>

		</table>
	</div>

	</div>
</Linkside>
<!-- Widget: Calendar / End -->
