<!-- Widget: Team Stats -->
<Linkside className="widget widget--sidebar card card--has-table widget-team-stats">
	<div className="widget__title card__header">
		<h4>Team Stats</h4>
	</div>
	<div className="widget__content card__content">
		<ul className="team-stats-box">
			<li className="team-stats__item">
				<div className="team-stats__icon">
					<svg role="img" className="df-icon df-icon--ppg">
						<use xlink:href="{{../root}}assets/images/icons-basket.svg#points-per-game"/>
					</svg>
				</div>
				<div className="team-stats__value">103.5</div>
				<div className="team-stats__label">Points Per Game</div>
			</li>
			<li className="team-stats__item">
				<div className="team-stats__icon">
					<svg role="img" className="df-icon df-icon--apg">
						<use xlink:href="{{../root}}assets/images/icons-basket.svg#assists-per-game"/>
					</svg>
				</div>
				<div className="team-stats__value">24.7</div>
				<div className="team-stats__label">Assists Per Game</div>
			</li>
			<li className="team-stats__item">
				<div className="team-stats__icon">
					<svg role="img" className="df-icon df-icon--rpg">
						<use xlink:href="{{../root}}assets/images/icons-basket.svg#rebounds-per-game"/>
					</svg>
				</div>
				<div className="team-stats__value">35.2</div>
				<div className="team-stats__label">Rebounds Per Game</div>
			</li>
			<li className="team-stats__item">
				<div className="team-stats__icon">
					<div className="df-icon-stack df-icon-stack--3pts">
						<svg role="img" className="df-icon df-icon--basketball">
							<use xlink:href="{{../root}}assets/images/icons-basket.svg#basketball"/>
						</svg>
						<div className="df-icon--txt">3</div>
					</div>
				</div>
				<div className="team-stats__value">16.4</div>
				<div className="team-stats__label">3 Pointers Per Game</div>
			</li>
		</ul>
	</div>
</Linkside>
<!-- Widget: Team Stats / End -->
