<!-- Widget: Social Buttons -->
<Linkside className="widget widget--sidebar widget-social">
	<Link href="/"  className="btn-social-counter btn-social-counter--facebook" target="_blank">
		<div className="btn-social-counter__icon">
			<i className="fab fa-facebook"></i>
		</div>
		<h6 className="btn-social-counter__title">Like Our Facebook Page</h6>
		<span className="btn-social-counter__count"><span className="btn-social-counter__count-num"></span> Likes</span>
		<span className="btn-social-counter__add-icon"></span>
	</Link>
	<Link href="/"  className="btn-social-counter btn-social-counter--twitter" target="_blank">
		<div className="btn-social-counter__icon">
			<i className="fab fa-twitter"></i>
		</div>
		<h6 className="btn-social-counter__title">Follow Us on Twitter</h6>
		<span className="btn-social-counter__count"><span className="btn-social-counter__count-num"></span> Followers</span>
		<span className="btn-social-counter__add-icon"></span>
	</Link>
	<Link href="/"  className="btn-social-counter btn-social-counter--instagram" target="_blank">
		<div className="btn-social-counter__icon">
			<i className="fab fa-instagram"></i>
		</div>
		<h6 className="btn-social-counter__title">Friend Us on Instagram</h6>
		<span className="btn-social-counter__count"><span className="btn-social-counter__count-num"></span> Followers</span>
		<span className="btn-social-counter__add-icon"></span>
	</Link>
</Linkside>
<!-- Widget: Social Buttons / End -->
