<!-- Widget: Match Announcement -->
<Linkside className="widget widget--sidebar card widget-preview">
	<div className="widget__title card__header">
		<h4>Top Next Match</h4>
	</div>
	<div className="widget__content card__content">

		<!-- Match Preview -->
		<div className="match-preview">
			<section className="match-preview__body">
				<header className="match-preview__header">
					<h3 className="match-preview__title">Championship Quarter Finals</h3>
					<time className="match-preview__date" datetime="2017-05-17">Saturday, October 17th, 2018</time>
				</header>
				<div className="match-preview__content">

					<!-- 1st Team -->
					<div className="match-preview__team match-preview__team--first">
						<figure className="match-preview__team-logo">
							<img src="{{../root}}assets/images/samples/logo-alchemists--sm.png" alt="">
						</figure>
						<h5 className="match-preview__team-name">Idaho Esports</h5>
						<div className="match-preview__team-info">Elric Bros School</div>
					</div>
					<!-- 1st Team / End -->

					<div className="match-preview__vs">
						<div className="match-preview__conj">VS</div>
						<div className="match-preview__match-info">
							<time className="match-preview__match-time" datetime="2018-08-07 08:00">8:00 PM</time>
							<div className="match-preview__match-place">Madison Cube Stadium</div>
						</div>
					</div>

					<!-- 2nd Team -->
					<div className="match-preview__team match-preview__team--second">
						<figure className="match-preview__team-logo">
							<img src="{{../root}}assets/images/samples/logo-l-clovers--sm.png" alt="">
						</figure>
						<h5 className="match-preview__team-name">Clovers</h5>
						<div className="match-preview__team-info">ST Paddy's Institute</div>
					</div>
					<!-- 2nd Team / End -->

				</div>
				<div className="match-preview__action">
					<Link href="#" className="btn btn-default btn-block">Buy Tickets Now</Link>
				</div>
			</section>
			<section className="match-preview__countdown countdown">
				<h4 className="countdown__title">Game Countdown</h4>
				<div className="countdown__content">
					<div className="countdown-counter" data-date="June 18, 2022 21:00:00"></div>
				</div>
			</section>
		</div>
		<!-- Match Preview / End -->

	</div>
</Linkside>
<!-- Widget: Match Announcement / End -->
