<!-- Header Top Bar -->
<div className="header__top-bar clearfix">
	<div className="container">
		<div className="header__top-bar-inner">

			<!-- Social Links -->
			<ul className="social-links social-links--inline social-links--main-nav social-links--top-bar">
				{{#each esports.contact-info.social}}
				<li className="social-links__item">
					<Link href="{{link}}" className="social-links__link" data-toggle="tooltip" data-placement="bottom" title="{{name}}"><i className="{{icon}}"></i></Link>
				</li>
				{{/each}}
			</ul>
			<!-- Social Links / End -->

			<!-- Account Navigation -->
			<ul className="nav-account">
				<li className="nav-account__item nav-account__item--wishlist"><Link href="_esports_shop-wishlist.html">Wishlist <span className="highlight">8</span></Link></li>
				<li className="nav-account__item"><Link href="#">Currency: <span className="highlight">USD</span></Link>
					<ul className="main-nav__sub">
						<li><Link href="#">USD</Link></li>
						<li><Link href="#">EUR</Link></li>
						<li><Link href="#">GBP</Link></li>
					</ul>
				</li>
				<li className="nav-account__item"><Link href="#">Language: <span className="highlight">EN</span></Link>
					<ul className="main-nav__sub">
						<li><Link href="#">English</Link></li>
						<li><Link href="#">Spanish</Link></li>
						<li><Link href="#">French</Link></li>
						<li><Link href="#">German</Link></li>
					</ul>
				</li>
				<li className="nav-account__item"><Link href="_esports_shop-account.html">Your Account</Link></li>
				<li className="nav-account__item nav-account__item--logout"><Link href="_esports_shop-login.html">Logout</Link></li>
			</ul>
			<!-- Account Navigation / End -->
		</div>
	</div>
</div>
<!-- Header Top Bar / End -->
