<!-- Account Filter -->
<nav className="content-filter content-filter--boxed content-filter--highlight-side content-filter--label-left">
	<div className="container">
		<div className="content-filter__inner">
			<Link href="#" className="content-filter__toggle"></Link>
			<ul className="content-filter__list">
				<li className="content-filter__item {{#ifpage '_esports_shop-account'}}content-filter__item--active{{/ifpage}}"><Link href="_esports_shop-account.html" className="content-filter__link"><small>Your Account</small>Personal Information</Link></li>
				<li className="content-filter__item"><Link href="#" className="content-filter__link"><small>Your Account</small>Billing Information</Link></li>
				<li className="content-filter__item"><Link href="#" className="content-filter__link"><small>Your Account</small>Shipping Information</Link></li>
			</ul>
		</div>
	</div>
</nav>
<!-- Account Filter / End -->
