<!-- Widget: Chart Cols -->
<Linkside className="widget card widget--sidebar widget-event-chart-cols">
	<div className="widget__title card__header card__header--has-legend">
		<h4>Shots Attempted</h4>
		<div id="gamesHistoryLegend" className="chart-legend chart-legend--games-history"></div>
	</div>
	<div className="widget__content card__content">
		<canvas id="alc-event-chart-cols" height="250"></canvas>
	</div>
</Linkside>
<!-- Widget: Chart Cols / End -->
