<!-- Page Heading
================================================== -->
<div className="page-heading page-heading--overlay page-heading--post-bg">
	<div className="container">
		<div className="row">
			<div className="col-md-6 offset-md-3">
				<div className="post__meta-block-wrapper">
					<!-- Post Meta - Top -->
					<div className="post__meta-block post__meta-block--top posts__item--category-2">

						<!-- Post Category -->
						<div className="post__category">
							<span className="label posts__cat-label posts__cat-label--category-3">Striker GO</span>
						</div>
						<!-- Post Category / End -->

						<!-- Post Title -->
						<h1 className="page-heading__title">New Steath mission for the strikers mode</h1>
						<!-- Post Title / End -->

						<!-- Post Meta Info -->
						<ul className="post__meta meta">
							<li className="meta__item meta__item--author">
								<!-- Post Author -->
								<div className="post-author">
									<figure className="post-author__avatar">
										<img src="{{../root}}assets/images/esports/samples/avatar-13-sm.jpg" alt="Post Author Avatar">
									</figure>
									<div className="post-author__info">
										<h4 className="post-author__name">Eric Rodgers</h4>
									</div>
								</div>
								<!-- Post Author / End -->
							</li>
							<li className="meta__item meta__item--date">
								<time datetime="2017-08-23">August 23rd, 2017</time>
							</li>
						</ul>
						<!-- Post Meta Info / End -->

						<!-- Post Sharing -->
						{{> _esports_post-sharing-heading }}
						<!-- Post Sharing / End -->

					</div>
					<!-- Post Meta - Top / End -->
				</div>
			</div>
		</div>
	</div>
</div>
