<!-- Page Heading
================================================== -->
<div className="page-heading page-heading--overlay page-heading--post-bg">
	<div className="container">
		<div className="row">
			<div className="col-md-8 offset-md-2">
				<!-- Post Meta - Top -->
				<div className="post__meta-block post__meta-block--top">

					<!-- Post Category -->
					<div className="post__category">
						<span className="label posts__cat-label">The Team</span>
					</div>
					<!-- Post Category / End -->

					<!-- Post Title -->
					<h1 className="page-heading__title">The Idaho Esports Crushed The Sharks Last Night</h1>
					<!-- Post Title / End -->

					<!-- Post Meta Info -->
					<ul className="post__meta meta">
						<li className="meta__item meta__item--date"><time datetime="2017-08-23">August 23rd, 2017</time></li>
						<li className="meta__item meta__item--views">2369</li>
						<li className="meta__item meta__item--likes"><Link href="#"><i className="meta-like meta-like--active icon-heart"></i> 530</Link></li>
						<li className="meta__item meta__item--comments"><Link href="#">18</Link></li>
					</ul>
					<!-- Post Meta Info / End -->

					<!-- Post Author -->
					<div className="post-author">
						<figure className="post-author__avatar">
							<img src="{{../root}}assets/images/samples/avatar-1.jpg" alt="Post Author Avatar">
						</figure>
						<div className="post-author__info">
							<h4 className="post-author__name">James Spiegel</h4>
							<span className="post-author__slogan">Idaho Esports Ninja</span>
						</div>
					</div>
					<!-- Post Author / End -->

				</div>
				<!-- Post Meta - Top / End -->
			</div>
		</div>
	</div>
</div>
