<!-- Team Pagination -->
<nav className="post-pagination" aria-label="Team navigation">
	<ul className="pagination pagination--circle {{custom-class}}">
		<li className="page-item"><Link className="page-link" href="/" ><i className="fas fa-angle-left"></i></Link></li>
		<li className="page-item active"><Link className="page-link" href="/" >1</Link></li>
		<li className="page-item"><Link className="page-link" href="/" >2</Link></li>
		<li className="page-item"><Link className="page-link" href="/" >3</Link></li>
		<li className="page-item"><span className="page-link">...</span></li>
		<li className="page-item"><Link className="page-link" href="/" >9</Link></li>
		<li className="page-item"><Link className="page-link" href="/" ><i className="fas fa-angle-right"></i></Link></li>
	</ul>
</nav>
<!-- Team Pagination / End -->
