<!-- Team Pages Filter -->
<nav className="content-filter content-filter--boxed content-filter--highlight-side content-filter--label-left">
	<div className="container">
		<div className="content-filter__inner">
			<Link href="#" className="content-filter__toggle"></Link>
			<ul className="content-filter__list">
				<li className="content-filter__item {{#ifpage '_esports_team-overview'}}content-filter__item--active{{/ifpage}}"><Link href="_esports_team-overview.html" className="content-filter__link"><small>L.O. Heroes</small>Team Overview</Link></li>
				<li className="content-filter__item {{#ifpage '_esports_team-roster'}}content-filter__item--active{{/ifpage}}"><Link href="_esports_team-roster.html" className="content-filter__link"><small>L.O. Heroes</small>Team Roster</Link></li>
				<li className="content-filter__item {{#ifpage '_esports_team-standings'}}content-filter__item--active{{/ifpage}}"><Link href="_esports_team-standings.html" className="content-filter__link"><small>L.O. Heroes</small>Full Standings</Link></li>
				<li className="content-filter__item {{#ifpage '_esports_team-last-results'}}content-filter__item--active{{/ifpage}}"><Link href="_esports_team-last-results.html" className="content-filter__link"><small>L.O. Heroes</small>Latest Results</Link></li>
				<li className="content-filter__item {{#ifpage '_esports_team-schedule'}}content-filter__item--active{{/ifpage}}"><Link href="_esports_team-schedule.html" className="content-filter__link"><small>L.O. Heroes</small>Next Matches</Link></li>
				<li className="content-filter__item {{#ifpage '_esports_team-gallery'}}content-filter__item--active{{/ifpage}}"><Link href="_esports_team-gallery.html" className="content-filter__link"><small>L.O. Heroes</small>Team Gallery</Link></li>
				<li className="content-filter__item {{#ifpage '_esports_team-videos'}}content-filter__item--active{{/ifpage}}"><Link href="_esports_team-videos.html" className="content-filter__link"><small>L.O. Heroes</small>Team Videos</Link></li>
			</ul>
		</div>
	</div>
</nav>
<!-- Team Pages Filter / End -->
