---
layout: esports
header-alt: true
page-title: Shortcodes
page-heading: "Short<span className=\"highlight\">codes</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "Shortcodes"
	}
]
---

<!-- Content
================================================== -->
<div className="site-content">
	<div className="container">

		<!-- Color Pallete -->
		<h5 className="pb-4">Color Pallete</h5>
		<ul className="df-color-pallete">
			<li className="df-color-pallete__item color-dark">362b45</li>
			<li className="df-color-pallete__item color-dark-lighten">392d49</li>
			<li className="df-color-pallete__item color-dark-2">403351</li>
			<li className="df-color-pallete__item color-dark-lighten-2">4b3b60</li>
			<li className="df-color-pallete__item color-gray-3">7a7283</li>
			<li className="df-color-pallete__item color-gray-2">8c8297</li>
			<li className="df-color-pallete__item color-gray">a59cae</li>
			<li className="df-color-pallete__item color-2">6a3bc0</li>
			<li className="df-color-pallete__item color-primary">00ff5b</li>
			<li className="df-color-pallete__item color-primary-darken">1bd75e</li>
		</ul>

		<div className="spacer-xxlg"></div>

		<!-- Buttons -->
		<h5 className="pb-4">Buttons</h5>
		<div className="row">
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-default btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-default">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-default btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-default btn-xs">Extra Small</Link>
				</p>
			</div>
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-primary btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-primary">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-primary btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-primary btn-xs">Extra Small</Link>
				</p>
			</div>
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-primary-inverse btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-primary-inverse">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-primary-inverse btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-primary-inverse btn-xs">Extra Small</Link>
				</p>
			</div>
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-default-alt btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-default-alt">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-default-alt btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-default-alt btn-xs">Extra Small</Link>
				</p>
			</div>
		</div>

		<div className="spacer"></div>

		<div className="row">
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-success btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-success">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-success btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-success btn-xs">Extra Small</Link>
				</p>
			</div>
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-info btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-info">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-info btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-info btn-xs">Extra Small</Link>
				</p>
			</div>
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-warning btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-warning">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-warning btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-warning btn-xs">Extra Small</Link>
				</p>
			</div>
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-danger btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-danger">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-danger btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-danger btn-xs">Extra Small</Link>
				</p>
			</div>
		</div>

		<div className="spacer"></div>

		<div className="row">
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-success btn-outline btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-success btn-outline">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-success btn-outline btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-success btn-outline btn-xs">Extra Small</Link>
				</p>
			</div>
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-info btn-outline btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-info btn-outline">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-info btn-outline btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-info btn-outline btn-xs">Extra Small</Link>
				</p>
			</div>
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-warning btn-outline btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-warning btn-outline">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-warning btn-outline btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-warning btn-outline btn-xs">Extra Small</Link>
				</p>
			</div>
			<div className="col-sm-6 col-xl-3">
				<p>
					<Link href="#" className="btn btn-danger btn-outline btn-lg">Large Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-danger btn-outline">Medium Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-danger btn-outline btn-sm">Small Button</Link>
				</p>
				<p>
					<Link href="#" className="btn btn-danger btn-outline btn-xs">Extra Small</Link>
				</p>
			</div>
		</div>

		<div className="spacer-xxlg"></div>

		<!-- Google Fonts -->
		<h5 className="pb-4">Google Fonts</h5>
		<div className="gfont-list row">
			<div className="gfont-item gfont-item--font-accent gfont-item--style1 col-6 col-md-3">
				<div className="gfont-item__body">
					Aa
				</div>
				<div className="gfont-item__name"></div>
				<div className="gfont-item__type"></div>
			</div>
			<div className="gfont-item gfont-item--font-accent gfont-item--style2 col-6 col-md-3">
				<div className="gfont-item__body">
					Aa
				</div>
				<div className="gfont-item__name"></div>
				<div className="gfont-item__type"></div>
			</div>
			<div className="gfont-item gfont-item--font-accent gfont-item--style3 col-6 col-md-3">
				<div className="gfont-item__body">
					Aa
				</div>
				<div className="gfont-item__name"></div>
				<div className="gfont-item__type"></div>
			</div>
			<div className="gfont-item gfont-item--font-accent gfont-item--style4 col-6 col-md-3">
				<div className="gfont-item__body">
					Aa
				</div>
				<div className="gfont-item__name"></div>
				<div className="gfont-item__type"></div>
			</div>
		</div>
		<!-- Google Fonts -->

		<div className="spacer-xxlg"></div>

		<!-- Icoboxes -->
		<h5 className="pb-4">Icoboxes</h5>
		<div className="row">
			<div className="col-md-4">
				<!-- Icobox -->
				<div className="icobox icobox--center">
					<div className="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
						<i className="icon-badge"></i>
					</div>
					<div className="icobox__content">
						<h4 className="icobox__title icobox__title--lg">Quality Assurance</h4>
						<div className="icobox__description">
							Lorem ipsum dolor sit amet, consectetur enrume adipisicing elit, sed eiusmod tempor incididun labore dolore magna aliqua en lorem.
						</div>
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div className="col-md-4">
				<!-- Icobox -->
				<div className="icobox icobox--center">
					<div className="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
						<i className="icon-energy"></i>
					</div>
					<div className="icobox__content">
						<h4 className="icobox__title icobox__title--lg">Ultra Durability</h4>
						<div className="icobox__description">
							Lorem ipsum dolor sit amet, consectetur enrume adipisicing elit, sed eiusmod tempor incididun labore dolore magna aliqua en lorem.
						</div>
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div className="col-md-4">
				<!-- Icobox -->
				<div className="icobox icobox--center">
					<div className="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
						<i className="icon-like"></i>
					</div>
					<div className="icobox__content">
						<h4 className="icobox__title icobox__title--lg">Super Comfort</h4>
						<div className="icobox__description">
							Lorem ipsum dolor sit amet, consectetur enrume adipisicing elit, sed eiusmod tempor incididun labore dolore magna aliqua en lorem.
						</div>
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
		</div>

		<div className="spacer-lg"></div>

		<div className="row">
			<div className="col-md-4">
				<!-- Icobox -->
				<div className="icobox icobox--center">
					<div className="icobox__icon icobox__icon--filled icobox__icon--lg icobox__icon--circle">
						<i className="icon-badge"></i>
					</div>
					<div className="icobox__content">
						<h4 className="icobox__title icobox__title--lg">Quality Assurance</h4>
						<div className="icobox__description">
							Lorem ipsum dolor sit amet, consectetur enrume adipisicing elit, sed eiusmod tempor incididun labore dolore magna aliqua en lorem.
						</div>
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div className="col-md-4">
				<!-- Icobox -->
				<div className="icobox icobox--center">
					<div className="icobox__icon icobox__icon--filled icobox__icon--lg icobox__icon--circle">
						<i className="icon-energy"></i>
					</div>
					<div className="icobox__content">
						<h4 className="icobox__title icobox__title--lg">Ultra Durability</h4>
						<div className="icobox__description">
							Lorem ipsum dolor sit amet, consectetur enrume adipisicing elit, sed eiusmod tempor incididun labore dolore magna aliqua en lorem.
						</div>
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div className="col-md-4">
				<!-- Icobox -->
				<div className="icobox icobox--center">
					<div className="icobox__icon icobox__icon--filled icobox__icon--lg icobox__icon--circle">
						<i className="icon-like"></i>
					</div>
					<div className="icobox__content">
						<h4 className="icobox__title icobox__title--lg">Super Comfort</h4>
						<div className="icobox__description">
							Lorem ipsum dolor sit amet, consectetur enrume adipisicing elit, sed eiusmod tempor incididun labore dolore magna aliqua en lorem.
						</div>
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
		</div>
		<!-- Icoboxes / End -->

		<div className="spacer-xxlg"></div>

		<!-- Form Elements -->
		<h5 className="pb-4">Form Elements</h5>
		<div className="row">
			<div className="col-md-3">
				<div className="form-group">
					<label className="control-label" for="input-default">Default Input</label>
					<input type="text" className="form-control" id="input-default" placeholder="Your placeholder text...">
				</div>
				<div className="form-group">
					<label className="control-label" for="input-default-2">Disabled Input</label>
					<input type="text" className="form-control" id="input-default-2" placeholder="Your placeholder text..." disabled>
				</div>
				<div className="form-group">
					<label className="control-label" for="select-default">Select Input</label>
					<select name="select-default" id="select-default" className="form-control">
						<option value="Canada">Canada</option>
						<option value="Italy">Italy</option>
						<option value="Spain">Spain</option>
						<option value="Greece">Greece</option>
					</select>
				</div>
			</div>
			<div className="col-md-3">
				<div className="form-group has-success">
					<label className="control-label" for="input-default-3">Success input</label>
					<input type="text" className="form-control" id="input-default-3" placeholder="Your placeholder text...">
				</div>
				<div className="form-group has-warning">
					<label className="control-label" for="input-default-4">Warning input</label>
					<input type="text" className="form-control" id="input-default-4" placeholder="Your placeholder text...">
				</div>
				<div className="form-group has-error">
					<label className="control-label" for="input-default-5">Error input</label>
					<input type="text" className="form-control" id="input-default-5" placeholder="Your placeholder text...">
				</div>
			</div>
			<div className="col-md-3">
				<div className="form-group">
					<label className="control-label" for="textarea">Textarea</label>
					<textarea className="form-control" name="textarea" id="textarea" rows="11" placeholder="Your placeholder text..."></textarea>
				</div>
			</div>
			<div className="col-md-3">
				<h6>Checkboxes</h6>
				<div className="form-group">
					<label className="checkbox checkbox-inline mr-2">
						<input type="checkbox" id="inlineCheckbox1" value="option1" checked> Checked
						<span className="checkbox-indicator"></span>
					</label>
					<label className="checkbox checkbox-inline mr-2">
						<input type="checkbox" id="inlineCheckbox2" value="option2"> Unchecked
						<span className="checkbox-indicator"></span>
					</label>
					<label className="checkbox checkbox-inline mr-2 disabled">
						<input type="checkbox" id="inlineCheckbox3" value="option3" disabled> Disabled
						<span className="checkbox-indicator"></span>
					</label>
				</div>

				<div className="pt-4"></div>

				<h6>Radio Buttons</h6>
				<div className="form-group">
					<label className="radio radio-inline mr-2">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> Selected
						<span className="radio-indicator"></span>
					</label>
					<label className="radio radio-inline mr-2">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Unselected
						<span className="radio-indicator"></span>
					</label>
					<label className="radio radio-inline mr-2 disabled">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled> Disabled
						<span className="radio-indicator"></span>
					</label>
				</div>
			</div>
		</div>

		<div className="spacer-xxlg"></div>

		<!-- Alerts -->
		<h5 className="pb-4">Alerts</h5>
		<div className="alert alert-warning alert--rounded">
			<strong>Do you have an account? <Link href="#">Click Here</Link> to login now and create a new account</strong>
		</div>

		<div className="alert alert-danger alert--rounded alert-dismissible">
			<button type="button" className="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Error Box!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
		</div>

		<div className="alert alert-info alert--rounded">
			<strong>Info Box!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
		</div>

		<div className="alert alert-success alert--rounded">
			<button type="button" className="btn btn-xs btn-default alert-btn-right">Go back to Home</button>
			<strong>Success box with Button!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
		</div>

	</div>
</div>

<!-- Content / End -->
