---
layout: esports
page-title: Next Events
page-heading: "Next <span className=\"highlight\">Events</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "Teams",
		link: "#"
	},
	{
		label: "L.O. Heroes",
		link: "#"
	},
	{
		label: "Next Events"
	}
]
---

<!-- Content
================================================== -->
<div className="site-content">
	<div className="container">

		<div className="row">

			<div className="col-lg-8">

				{{> _esports_widget-event-calendar }}

			</div>

			<div className="col-lg-4">

				{{> _esports_widget-event-preview }}


			</div>

		</div>


	</div>
</div>

<!-- Content / End -->
