---
layout: esports
header-alt: true
page-title: Rocket League Rules
page-heading: "Rocket League <span className=\"highlight\">Rules</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "Rocket League"
	}
]
---

<!-- Content
================================================== -->
<div className="site-content">
	<div className="container">
		<h4 className="pb-4">Match Overview</h4>
		<h5 className="pb-4">Supported Platforms</h5>
		<ul className="">
			<li>PC</li>
			<li>Xbox</li>
			<li>Playstation 4</li>
			<li>Playstation 5</li>
			<li>Nintendo Switch</li>
		</ul>
		<p>This competition is cross-platform. All players will face against each other regardless of platform.</p>
		<h6 className="pb-4">Note: All in-person tournaments will be held on PCs with the option for players to plug in a compatible controller.</h6>


		<h4 className="pb-4">Game Lobby</h4>
		<p>The home team will create the lobby (a "non-player" pc should be used when available). The away team will select if they would like to take red or blue.</p>
		<h5 className="pb-4">Lobby Code: VXH5C</h5>
		<h5 style="padding: 0px; margin:0px;">Lobby Settings:</h5>
		<ul className="">
			<li>Select Preset: Competitive</li>
			<li>Modes: ALL</li>
			<li>Kill Cam Disabled Modes: ALL</li>
			<li>Game Mode Start: Manual</li>
			<li>Max Spectators: 3 (please note the 3rd spectator position is reserved for IHSEA Administrators)</li>
			<li>Chosen Map enabled, all other maps disabled</li>
		</ul>
		<h6 style="padding: 0px; margin:0px;">Note: Aim assist will be disabled if the match is hosted in a PC lobby. A PC lobby is any lobby that has one or more PC players in it, including spectator slots.</h6>
		<p>In the event an incorrect lobby code is loaded or the settings were changed, the match should be stopped and reset. Previously played maps with the incorrect format will not count toward the series. The author currently should be listed as “Datrix83864”.</p>
		
		<h4 style="padding: 0px; margin:0px;">Match Length</h4>
		<h5 style="padding: 0px; margin:0px;">Best of Five</h5>
		<p>Game 1 will be played using a defined start control map. For games 2-5, the loser of the previous map will select the map, following the map type order. The process is repeated for each game until one team reaches 3 map wins.</p>
		<h5 style="padding: 0px; margin:0px;">Map type order</h5>
		<ol>
			<li>Control (pre-determined)</li>
			<li>Hybrid</li>
			<li>Escort</li>
			<li>Push</li>
			<li>Control</li>
		</ol>
		<h5 style="padding: 0px; margin:0px;">Game 1 Control Map</h5>
		<div className="row">
			<div className="col-sm-6 col-xl-3">
				<h6 style="padding: 0px; margin:0px;">Week</h6>
				<ol>
					<li>Oasis</li>
					<li>Nepal</li>
					<li>Lijiang Tower</li>
					<li>Ilios</li>
					<li>Oasis</li>
					<li>Nepal</li>
					<li>Lijiang Tower</li>
					<li>Ilios</li>
				</ol>
			</div>
			<div className="col-sm-6 col-xl-3">
				<h6 style="padding: 0px; margin:0px;">District/State Play-in Round:</h6>
				<ol>
					<li>Nepal - Evening</li>
					<li>Lijiang Tower - Night</li>
					<li>Ilios - Morning</li>
				</ol>
			</div>
		</div>

		<h4 style="padding: 0px; margin:0px;">Map Pools</h4>
		<div className="row">
			<div className="col-sm-6 col-xl-3">
				<h5>Control</h5>
				<ul>
					<li>Antarctic Peninsula - Night</li>
					<li>Ilios - Morning</li>
					<li>Lijiang Tower - Night</li>
					<li>Nepal - Evening</li>
					<li>Oasis - Evening</li>
				</ul>
			</div>
			<div className="col-sm-6 col-xl-3">
				<h5>Hybrid</h5>
				<ul>
					<li>Blizzard World - Morning</li>
					<li>King’s Row - Evening</li>
					<li>Midtown - Morning</li>
					<li>Numbani - Morning</li>
					<li>Paraiso - Morning</li>
				</ul>
			</div>
			<div className="col-sm-6 col-xl-3">
				<h5>Escort</h5>
				<ul>
					<li>Dorado - Night</li>
					<li>Havana - Night</li>
					<li>Junkertown - Morning</li>
					<li>Circuit Royal - Morning</li>
					<li>Rialto - Morning</li>
					<li>Shambali Monastery- Night</li>
				</ul>
			</div>
			<div className="col-sm-6 col-xl-3">
				<h5>Push</h5>
				<ul>
					<li>New Queen Street - Morning</li>
					<li>Colosseo - Morning</li>
					<li>Esperanca - Morning</li>
				</ul>
			</div>
		</div>

		<h4 >New maps or heroes or hero reworks</h4>
		<p>New maps or heroes will be banned for 2 weeks. This may also apply to big hero reworks, hero and map bans will be communicated via the student and admin Discords, the tournament site, and the IEA website.</p>
		<h5>Current hero ban</h5>
		<ul>
			<li>None</li>
		</ul>

		<h4 >Players</h4>
		<p>Players must meet all IEA eligibility rules in order to participate in an IEA sanctioned event.</p>

		<h4 >Equipment</h4>
		<p>Players may use a keyboard and mouse, or default-style controllers regardless of console. Modified controllers are not allowed.</p>

		<h4 >Teams</h4>
		<h5>Roster</h5>
		<p>Teams must have 5 players on a roster and may have up to 5 substitutes in order to register for any IEA sanctioned event. All members of the roster must have their Battle.net information available and readily seen. Coaches should have the roster up to date 24 hours prior to the match.</p>

		<h5>Incomplete Teams</h5>
		<p>A team may elect to start a game with fewer than 5 players on the map. They must complete the map before the additional players join. The team will play with a player down, no bots or random joins are permitted.</p>

		<h5>Mid-Game Role Swap</h5>
		<p>Players cannot switch roles during side switch portions. Players must play the same role throughout the entire map. Players may switch roles between maps.</p>

		<h5>Substitution</h5>
		<p>Teams may substitute players between maps. The substitute player’s Battle.net account must match the roster.</p>

		<h4 >Spectators</h4>
		<p>Each team is allowed 1 spectator, taking the spectator slot for the purpose of streaming the game to their school account (youtube, twitch, etc).</p>
		<p>The spectator is not allowed to communicate with the team during the matches and are to only use their teams POV or similar.</p>
		<p>Streams or recordings are to be shared with the opposing team when posted.</p>

		<h4 >Coaching</h4>
		<p>Coaches are allowed as long as they are registered as a coach on the team. Coaches are not permitted to play.</p>
		<p>Coaches are not allowed to talk during active play. Active play includes the pre-round protected area.</p>
		<p>Coaching is only allowed between rounds.</p>
		<p>Coaches are permitted to be un-deafened in voice chat, but mic must be software muted.</p>

		<h4 >Stoppage of Play</h4>
		<p>The game should automatically pause on a player disconnect.</p>
		<ul>
			<li>Shortly after a pause is initiated, a reason must be given via game chat (e.g.: player disconnect, ping issues, technical difficulties, etc.). </li>
			<li>Each team will have 5 cumulative minutes to pause. When 5 minutes have been exhausted, teams are required to continue play. Both teams should consider keeping track of time.</li>
			<li>Each team is responsible for timing their pause (any issues should be discussed with the other team and IHSEA Administrators)</li>
			<li>In the case of a player disconnect, after the 5 minutes are used, the team must continue the game (4 v 5)</li>
			<li>If the player is able to reconnect, the player can rejoin the match. It must be the same player with the same battle.net account in the same role.</li>
		</ul>
	</div>
</div>

<!-- Content / End -->
