---
layout: esports
page-title: Widgets eSports
page-heading: "Widgets <span className=\"highlight\">eSports</span>"

breadcrumbs: [
	{
		label: "Features",
		link: "_esports_features-shortcodes.html"
	},
	{
		label: "Widgets - eSports"
	}
]
---

<!-- Content
================================================== -->
<div className="site-content">
	<div className="container">

		<div className="row">
			<div className="col-lg-4">

				{{> _esports_widget-event-result }}

			</div>
			<div className="col-lg-4">

				{{> _esports_widget-event-result-2 }}

			</div>
			<div className="col-lg-4">

				{{> _esports_widget-standings }}

			</div>
		</div>

		<div className="spacer"></div>

		<div className="row">
			<div className="col-lg-4">

				{{> _esports_widget-player-total-stats }}

			</div>
			<div className="col-lg-4">

				{{> _esports_widget-player-alt-extended }}

			</div>
			<div className="col-lg-4">

				{{> _esports_widget-player-stats }}

			</div>
		</div>

		<div className="spacer"></div>

		<div className="row">
			<div className="col-lg-4">

				{{> _esports_widget-results }}

				{{> _esports_widget-results-2 }}

			</div>
			<div className="col-lg-4">

				{{> _esports_widget-event-preview }}

			</div>
			<div className="col-lg-4">

				{{> _esports_widget-newslog }}

			</div>
		</div>

		<div className="spacer"></div>

		<div className="row">
			<div className="col-lg-4">

				{{> _esports_widget-team-info }}

			</div>
			<div className="col-lg-4">

				{{> _esports_widget-team-stats }}

			</div>
			<div className="col-lg-4">

				{{> _esports_widget-achievements }}

			</div>
		</div>

		<div className="spacer"></div>

		<div className="row">

			<div className="col-lg-8">

				{{> _esports_widget-games-history }}

			</div>

			<div className="col-lg-4">

				{{> _esports_widget-pie-chart }}

			</div>
		</div>

		<div className="spacer"></div>

		<div className="row">

			<div className="col-lg-8">

				{{> _esports_widget-stats-linegraph }}

			</div>

			<div className="col-lg-4">

				{{> _esports_widget-horizontal-bars }}

			</div>
		</div>

		<div className="spacer"></div>

		<div className="row">

			<div className="col-lg-8">

				{{> _esports_widget-schedule-tournaments }}

				{{> _esports_widget-last-matches-tournaments }}

			</div>

			<div className="col-lg-4">

				{{> _esports_widget-tournament }}

			</div>

		</div>

		<div className="spacer"></div>

		<div className="row">
			<div className="col-lg-4">

				{{> _esports_widget-twitch-stream-single }}

			</div>

			<div className="col-lg-4">

				{{> _esports_widget-twitch-streams-sm }}

			</div>

			<div className="col-lg-4">

				{{> _esports_widget-twitch-streams }}

			</div>
		</div>

	</div>
</div>

<!-- Content / End -->
