---
layout: esports
header-alt: true
page-title: Articles of Incorporation
page-heading: "Idaho Esports Association <span className=\"highlight\">Articles of Incorporation</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "Articles of Incorporation"
	}
]
---

<!-- Content
================================================== -->
<div className="site-content">
	<div className="container">
		<h3 style="text-align: center;">Nonprofit Articles of Incorporation </h3>


		<h3 style="text-align: center;"><Link></Link>ARTICLE I, NAME</h3>

		<h4>1.01 Name</h4>
		<p>The name of this Corporation shall be Idaho Esports Association Inc. The business of the corporation may be conducted as Idaho Esports Association, Idaho High School Esports Association, or Idaho Middle School Esports Association.</p>


		<h3 style="text-align: center;"><Link></Link>ARTICLE II, DURATION</h3>

		<h4>2.01 Duration</h4>
		<p>The period of duration of the corporation is perpetual.</p>


		<h3 style="text-align: center;"><Link></Link>ARTICLE III, PURPOSE</h3>


		<h4>3.01 Purpose</h4>
		<p>Idaho Esports Association Inc is a non-profit corporation and shall operate exclusively for educational and charitable purposes within the meaning of Section 501 (c)(3) of the Internal Revenue Code, or the corresponding section of any future Federal tax code. Idaho Esports Association Inc’s purpose is to provide esports opportunities for those in the state of Idaho who have an interest regardless of socio-economic status, race, or any other barrier with the express purpose of providing high-caliber competition that will showcase player abilities for collegiate and professional esports teams. </p>

		<p>Our primary focus is to provide seasonal state-wide competitions for all schools involved in the organization. The secondary focus of helping interested or involved schools successfully start or expand esports programs in order to further engage their school population. This help may include but is not limited to providing or leasing equipment, supporting fundraising activities, and assisting with school-specific concerns.</p>

		<p>The organization will have a scope encompassing all aspects of esports including broadcasting, coaching, playing, designing, managing, and all other connected aspects of the activity, and is tasked to provide all participants with the opportunity and resources to explore everything to the best of the organization's ability.</p>

		<p>At times, per the discretion of the board of directors, we may provide internships or volunteer opportunities for involvement in said activities and programs in order to have a greater impact on change.</p>


		<h3 style="text-align: center;"><Link></Link>ARTICLE IV, NON-PROFIT NATURE</h3>

		<h4>4.01 Non-profit Nature</h4>
		<p>Idaho Esports Association Inc is organized exclusively for charitable, religious, educational, and scientific purposes, including, for such purposes, the making of distributions to organizations that qualify as exempt organizations under section 501(c)(3) of the Internal Revenue Code, or the corresponding section of any future federal tax code. No part of the net earnings of Idaho Esports Association Inc shall inure to the benefit of, or be distributable to its members, trustees, officers, or other private persons, except that the corporation shall be authorized and empowered to pay reasonable compensation for services rendered and to make payments and distributions in furtherance of the purposes set forth in the purpose clause hereof.</p>
		<p>Notwithstanding any other provision of this document, the corporation shall not carry on any other activities not permitted to be carried on (a) by any organization exempt from federal income tax under section 501(c)(3) of the Internal Revenue Code, corresponding section of any future federal tax code, or (b) by an organization, contributions to which are deductible under section 170(c)(2) of the Internal Revenue Code, or corresponding section of any future federal tax code.</p>

		<p>Idaho Esports Association Inc is not organized and shall not be operated for the private gain of any person. The property of the corporation is irrevocably dedicated to its educational and charitable purposes. No part of the assets, receipts, or net earnings of the corporation shall inure to the benefit of, or be distributed to any individual. The corporation may, however, pay reasonable compensation for services rendered, and make other payments and distributions consistent with these Articles.</p>

		<h4>4.02 Personal Liability</h4>
		<p>No officer or director of this corporation shall be personally liable for the debts or obligations of Idaho Esports Association Inc of any nature whatsoever, nor shall any of the property or assets of the officers or directors be subject to the payment of the debts or obligations of this corporation.</p>

		<h4>4.03 Dissolution</h4>
		<p>Upon termination or dissolution of the Idaho Esports Association Inc, any assets lawfully available for distribution shall be distributed to one (1) or more qualifying organizations described in Section 501(c)(3) of the Internal Revenue Code of 1986 (or described in any corresponding provision of any successor statute) which organization or organizations have a charitable purpose which, at least generally, includes a purpose similar to the terminating or dissolving the corporation.</p>

		<p>The organization to receive the assets of the Idaho Esports Association hereunder shall be selected by the discretion of a majority of the managing body of the Idaho Esports Association and if its members cannot so agree, then the recipient organization shall be selected pursuant to a verified petition in equity filed in a court of proper jurisdiction against the Idaho Esports Association Inc by one (1) or more of its managing body which verified petition shall contain such statements as reasonable indicate the applicability of this section. The court upon a finding that this section is applicable shall select the qualifying organization or organization to receive the assets to be distributed, giving preference if practicable to organizations located within the State of Idaho.</p>
		<p>In the event that the court shall find that this section is applicable but that there is no qualifying organization known to it that has a charitable purpose, which, at least generally, includes a purpose similar to this corporation, then the court shall direct the distribution of its assets lawfully available for distribution to the Treasurer of the State of Idaho to be added to the general fund.</p>

		<h4>4.04 Prohibited Distributions</h4>
		<p>No part of the net earnings, or properties of this corporation, on dissolution or otherwise, shall inure to the benefit of, or be distributable to, its members, directors, officers or other private person or individual, except that the corporation shall be authorized and empowered to pay reasonable compensation for services rendered and to make payments and distributions in furtherance of the purposes set forth in Article III, Section 3.01.</p>

		<h4>4.05 Restricted Activities</h4>
		<p>No substantial part of the corporation’s activities shall be the carrying on of propaganda, or otherwise attempting to influence legislation, and the corporation shall not participate in, or intervene (including the publishing or distribution of statements) in any political campaign on behalf of or in opposition to any candidate for public office.</p>

		<h4>4.06 Prohibited Activities</h4>
		<p>Notwithstanding any other provision of these Articles, the corporation shall not carry on any activities not permitted to be carried on (1) by a corporation exempt from federal income tax as an organization described by Section 501(c)(3) of the Internal Revenue Code, or the corresponding section of any future federal tax code, or (2) by a corporation, contributions of which are deductible under Section 170(c)(2) of the Internal Revenue Code, or the corresponding section of any future federal tax code.</p>

		<h3 style="text-align: center;"><Link></Link>ARTICLE V, BOARD OF DIRECTORS</h3>

		<p>&nbsp;</p>
		<h4>5.01 Governance</h4>
		<p>Idaho Esports Association Inc shall be governed by its board of directors</p>
		<p>&nbsp;</p>
		<h4>5.02 Initial Directors</h4>
		<p>The initial directors of the corporation shall be:
			<br>Dalton Hawkins
			<br>Nathaniel Sarrazolla
			<br>Andrew Wray</p>
		<p>&nbsp;</p>
		<h3 style="text-align: center;">ARTICLE VI, MEMBERSHIP</h3>
		<h4>6.01 Membership</h4>
		<p>Idaho Esports Association Inc shall have no members. The management of the affairs of the corporation shall be vested in a board of directors, as defined in the corporation’s bylaws.</p>
		<p>&nbsp;</p>

		<h3 style="text-align: center;">ARTICLE VII, AMENDMENTS</h3>
		<h4>7.01 Amendments</h4>
		<p>Any amendment to the Articles of Incorporation may be adopted by approval of two-thirds (⅔) of the board of directors.</p>
		<p>&nbsp;</p>

		<h3 style="text-align: center;">ARTICLE VIII, ADDRESSES OF THE CORPORATION</h3>
		<h4>8.01 Corporate Address</h4>
		<p>The physical address of the corporation is:</p>
		<p>50 Jeffres Lane</p>
		<p>Sandpoint, ID 83864</p>
		<p>The mailing address of the corporation is:</p>
		<p>50 Jeffres Lane</p>
		<p>Sandpoint, ID 83864</p>
		<p>&nbsp;</p>

		<h3 style="text-align: center;">ARTICLE IX, APPOINTMENT OF REGISTERED AGENT</h3>
		<h4>9.01 Registered Agent</h4>
		<p>The registered agent of the corporation shall be:</p>
		<p>Dalton Hawkins</p>
		<p>50 Jeffres Lane</p>
		<p>Sandpoint, ID 83864</p>

		<h3 style="text-align: center;">ARTICLE X, INCORPORATOR</h3>
		<p style="text-align: center;">&nbsp;</p>
		<p>The incorporators of the corporation are as follows:
		<br>Name: Dalton Hawkins
		<br>Name: Nathaniel Sarrazolla
		<br>Name: Andrew Wray</p>
		<p style="text-align: center;">Certificate of Adoption of Articles of Incorporation</p>
		<p>We, the undersigned, do hereby certify that the above-stated Articles of Incorporation of Idaho Esports Association Inc were approved by the board of directors on June 28th and constitute a complete copy of the Articles of Incorporation of the Idaho Esports Association Inc.</p>
		<p>Name: Dalton Hawkins</p>
		<p>Name: Nathaniel Sarrazolla</p>
		<p>Name: Andrew Wray</p>
		<p>&nbsp;</p>
		<p style="text-align: center;">Acknowledgment of consent to appointment as registered agent</p>
		<p>I, Dalton Hawkins, agree to be the registered agent for Idaho Esports Association as appointed herein.</p>
		<p>Registered Agent: ______________</p>
		<p>Date: _________</p>
	</div>
</div>

<!-- Content / End -->
