---
layout: esports
page-title: Contact Us
page-heading: "Contact <span className=\"highlight\">Us</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "Contact Us"
	}
]
---

<!-- Content
================================================== -->
<div className="site-content">
	<div className="container">

		<!-- Jumbotron -->
		<div className="jumbotron jumbotron--style1">
			<div className="container">
				<div className="row">
					<div className="col align-self-end">
						<figure className="jumbotron__img">
							<img src="{{../root}}assets/images/esports/samples/jumbotron-hero-img1.png" alt="">
						</figure>
					</div>
					<div className="col align-self-center">
						<div className="jumbotron__content text-center">
							<h5 className="jumbotron__subtitle">Ready to be a hero?</h5>
							<h1 className="jumbotron__title">Join <span className="highlight">Our Team!</span></h1>
							<p className="jumbotron__desc">Send us a message and we’ll be in touch!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Jumbotron / End -->

		<div className="row">
			<div className="col-md-8">

				<!-- Contact Form Card -->
				<div className="card">
					<div className="card__header">
						<h4>Send Us a Message</h4>
					</div>
					<div className="card__content">

						<!-- Contact Form -->
						<form action="#" className="contact-form">
							<div className="row">
								<div className="col-12 col-sm-6">
									<div className="form-group">
										<label for="contact-form-name">Your Name <span className="required">*</span></label>
										<input type="text" name="contact-form-name" id="contact-form-name" className="form-control" placeholder="Your full name...">
									</div>
								</div>
								<div className="col-12 col-sm-6">
									<div className="form-group">
										<label for="contact-form-email">Your Email <span className="required">*</span></label>
										<input type="email" name="contact-form-email" id="contact-form-email" className="form-control" placeholder="Your email...">
									</div>
								</div>
								<div className="w-100"></div>
								<div className="col-12 col-sm-6">
									<div className="form-group">
										<label for="select-preferred-game">Subject</label>
										<select name="select-preferred-game" id="select-preferred-game" className="form-control">
											<option value="1">League of Heroes</option>
											<option value="2">Xenowatch</option>
											<option value="3">Striker Go</option>
										</select>
									</div>
								</div>
								<div className="col-12 col-sm-6">
									<div className="form-group">
										<label for="contact-form-subject">Twitch Channel</label>
										<input type="text" name="contact-form-subject" id="contact-form-subject" className="form-control">
									</div>
								</div>
							</div>

							<div className="form-group">
								<label for="contact-form-message">Your Message <span className="required">*</span></label>
								<textarea name="name" rows="5" className="form-control" placeholder="Enter your message here..."></textarea>
							</div>
							<div className="form-group form-group--submit text-right">
								<button type="submit" className="btn btn-primary-inverse">Send Your Message</button>
							</div>
						</form>
						<!-- Contact Form / End -->

					</div>
				</div>
				<!-- Contact Form Card / End -->

			</div>
			<div className="col-md-4">

				<!-- Contat Info -->
				<div className="card card--info">
					<div className="card__header">
						<h4>Contact Info</h4>
					</div>
					<div className="card__content">
						<p className="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip consequat.</p>
					</div>
					<div className="card__footer contact-info">
						<Linkddress className="contact-info__item">
							<div className="contact-info__icon">
								<i className="far fa-envelope"></i>
							</div>
							<div className="contact-info__label">
								<Link href="mailto:info@idahoesports.gg">info@idahoesports.gg</Link>
							</div>
						</Linkddress>
						<Linkddress className="contact-info__item">
							<div className="contact-info__icon">
								<i className="far fa-map"></i>
							</div>
							<div className="contact-info__label">
								Idaho, United States
							</div>
						</Linkddress>
					</div>
				</div>
				<!-- Contat Info / End -->

			</div>
		</div>

	</div>
</div>

<!-- Content / End -->
