---
layout: esports
header-alt: true
page-title: Apex Legends Rules
page-heading: "Apex Legends <span className=\"highlight\">Rules</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "Apex"
	}
]
---

<!-- Content
================================================== -->
<div className="site-content">
	<div className="container">
		<h4 className="pb-4">Team Distribution</h4>
		<p>At the beginning of the season, all Varsity teams will be distributed evenly into groups of 10 depending on total teams register. This is to ensure that each group will have at least 15 teams. Distribution will be based on previous seasons rank (in the event of no previous season rank, effected teams will be randomly distributed). Distribution will be as follows (Example of 40 competing teams):
</p>
		<table>
			<tr>
				<th>Group A</th>
				<th>Group B</th>
				<th>Group C</th>
				<th>Group D</th>
			</tr>
			<tr>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
			</tr>
			<tr>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td>8</td>
			</tr>
			<tr>
				<td>9</td>
				<td>10</td>
				<td>11</td>
				<td>12</td>
			</tr>
			<tr>
				<td>13</td>
				<td>14</td>
				<td>15</td>
				<td>16</td>
			</tr>
			<tr>
				<td>17</td>
				<td>18</td>
				<td>19</td>
				<td>20</td>
			</tr>
			<tr>
				<td>21</td>
				<td>22</td>
				<td>23</td>
				<td>24</td>
			</tr>
			<tr>
				<td>25</td>
				<td>26</td>
				<td>27</td>
				<td>28</td>
			</tr>
			<tr>
				<td>29</td>
				<td>30</td>
				<td>31</td>
				<td>32</td>
			</tr>
			<tr>
				<td>33</td>
				<td>34</td>
				<td>35</td>
				<td>36</td>
			</tr>
			<tr>
				<td>37</td>
				<td>38</td>
				<td>39</td>
				<td>40</td>
			</tr>
		</table>

		<h4>Matchups</h4>
		<p>Each Group will play each other in a round robin format during the season. The rotation will follow a structure similar to described:</p>
		<ul>
			<li>Week 1: A vs B, C vs D</li>
			<li>Week 2: A vs C, B vs D</li>
			<li>Week 3: A vs D, B vs C</li>
			<li>Week 4: A vs B, C vs D</li>
			<li>Week 5: A vs C, B vs D</li>
			<li>Week 6: A vs D, B vs C</li>
			<li>Week 7: A vs B, C vs D</li>
			<li>Week 8: A vs C, B vs D</li>
		</ul>

		<h4>Scoring</h4>
		<p>The season will be an eight (8) week long season with points from each week accumulating to determine playoff standing. Scoring will determine standings for the State Qualifier. Any tournament hosted during the regular season will not factor into the season point accumulation. Point Values are as follows:</p>
		<table>
			<tr>
				<th>Placement</th>
				<th>Point Value</th>
			</tr>
			<tr>
				<td>1</td>
				<td>12</td>
			</tr>
			<tr>
				<td>2</td>
				<td>9</td>
			</tr>
			<tr>
				<td>3</td>
				<td>7</td>
			</tr>
			<tr>
				<td>4</td>
				<td>5</td>
			</tr>
			<tr>
				<td>5</td>
				<td>4</td>
			</tr>
			<tr>
				<td>6-7</td>
				<td>3</td>
			</tr>
			<tr>
				<td>8-10</td>
				<td>2</td>
			</tr>
			<tr>
				<td>11-15</td>
				<td>1</td>
			</tr>
			<tr>
				<td>16-20</td>
				<td>0</td>
			</tr>
		</table>
		<p>1 point per kill</p>
		<p>If a Team misses a match (no Competitors from the Team competed in the match), then the Team receives a Match Score of zero (0) for that match.</p>
		<p>At the end of each round or match series, a Team’s total points will include the Team’s Match Scores for all matches in that round or match series (“Round Score”).</p>
		<p>Reporting the score will be distinct to clarify point totals. Each report will separate Placement Points and KP.</p>
		<p>After the completion of the 8th week series, all week point totals will be tallied and the State Qualifier seeding will be based on Team Score ranked highest to lowest.Once seeding is finalized, all team point totals will be reset to 0 and Advanced Starting Points will be rewarded.</p>
		<p>In the event there is a tie, Tie break will be determined as Highest Average Placement Points > Highest Total Kills > Best Placements Total.</p>

		<h4 className="pb-4">Game Lobby</h4>
		<p>At the beginning of the year, A minimum of 1 and a maximum of 4 host schools will be chosen to host matches. Host Schools must have a dedicated machine for hosting the lobby. The Host School will create the match with the following settings:</p>
		<h5 style="padding: 0px; margin:0px;">Lobby Settings:</h5>
		<ul className="">
			<li>Rename Slots with the appropriate team name according to week assignment. </li>
			<li>Game Mode: Battle Royal</li>
			<li>Select a Map: World's Edge or Storm Point (Depending on week)</li>
			<li>Chat: Allow All</li>
			<li>Rename Team: Off</li>
			<li>Self Assign Team: On</li>
			<li>Aim Assist Override: On</li>
			<li>Anonymous Mode: On</li>
			<li>Server: US Oregon</li>
		</ul>
		<h6>A lobby must have a minimum Ten (10) teams to begin and can not exceed the maximum of 20 teams. Teams do not have to be complete to be counted as a “Team”</h6>
		
		<h4>Map Selection</h4>		
		<h6>The Season will alternate competitive matches based on Current ALGS map Pool following the defined rotation.</h6>
		<ol>
			<li>Worlds Edge</li>
			<li>Storm Point</li>
			<li>Worlds Edge</li>
			<li>Storm Point</li>
			<li>Worlds Edge</li>
			<li>Storm Point</li>
			<li>Worlds Edge</li>
			<li>Storm Point</li>
		</ol>

		<h4 >New maps or Legends or Legend reworks</h4>
		<p>New maps or legends will be banned for 2 weeks. This may also apply to big legend reworks. Legend and map bans will be communicated via the student and admin Discords, the tournament site, and the IEA website.</p>
		<h5>Current hero ban</h5>
		<ul>
			<li>None</li>
		</ul>

		<h4 >Players</h4>
		<p>Players must meet all IEA eligibility rules in order to participate in an IEA sanctioned event.</p>

		<h4 >Equipment</h4>
		<p>Players may use a keyboard and mouse, or default-style controllers regardless of console. Modified controllers are not allowed.</p>

		<h4 >Teams</h4>
		<h5>Roster</h5>
		<p>Teams must have 3 players on a roster and may have up to 3 substitutes in order to register for any IEA sanctioned event. Coaches should have the roster up to date 24 hours prior to the match.</p>

		<h5>Incomplete Teams</h5>
		<p>A team may elect to start a game with fewer than 3 players on the map. They must complete the map before the additional players join. The team will play with a player down, no bots or random joins are permitted.</p>

		<h4 >Coaching</h4>
		<p>Coaches are allowed as long as they are registered as a coach on the team. Coaches are not permitted to play.</p>
		<p>Coaches are allowed to communicate with their team in the pregame lobby, during “legend selection” and during the match up to the moment “Round 1” begins. </p>
		<p>Coaches are permitted to be un-deafened in voice chat, but mic must be software muted.</p>

		<h4 >Stoppage of Play</h4>
		<ul>
			<li>In the event any portion of a team is disconnected prior to the start of “Round 1” of the match, the Match will be restarted. </li>
			<li>If disconnection happens anypoint after the start of “Round 1”, the team will be required to play less than a complete team unless the player can reconnect to the match before the start of “Round 2”</li>
			<li>After “Round 2” begins, players are not allowed to reconnect.</li>
			<li>Shortly after a match restart is initiated, a reason must be given to the IEA representative acting as referee for the match (i.g: player disconnect, ping issues, technical difficulties, ect.)</li>
			<li>The Host team is responsible for timing their pause (any issues should be discussed with the IEA representative)</li>
			<li>In the case of a player disconnect, after the 5 minutes are used, the team must continue the game (less than a complete team)</li>
			<li>No subs are allowed to be subbed in the middle of a match.</li>
		</ul>
	</div>
</div>

<!-- Content / End -->
