<header className="product-tabs__header product-tabs__header--sm">
	<h2>
		<span className="product-tabs__ratings"><span className="highlight">4.33</span> Item Rating</span>
		<span className="product-tabs__reviews">3 Reviews</span>
	</h2>
</header>

<!-- Product Reviews -->
<ul className="comments comments--thumb-top">
	<li className="comments__item">
		<div className="comments__inner">
			<header className="comment__header">
				<div className="comment__author">
					<figure className="comment__author-avatar">
						<img src="{{../root}}assets/images/esports/samples/avatar-2-sm.jpg" alt="">
					</figure>
					<div className="comment__author-info">
						<h5 className="comment__author-name">Jennifer Stevens</h5>
						<time className="comment__post-date" datetime="2016-08-23">5 minutes ago</time>
						<div className="comment__ratings ratings">
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star empty"></i>
						</div>
					</div>
				</div>
			</header>
			<div className="comment__body">
				<h4 className="comment__title">The Best Quality!</h4>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur ratione.
			</div>
		</div>
	</li>
	<li className="comments__item">
		<div className="comments__inner">
			<header className="comment__header">
				<div className="comment__author">
					<figure className="comment__author-avatar">
						<img src="{{../root}}assets/images/esports/samples/avatar-8-sm.jpg" alt="">
					</figure>
					<div className="comment__author-info">
						<h5 className="comment__author-name">Jake Casspon</h5>
						<time className="comment__post-date" datetime="2016-08-23">28 minutes ago</time>
						<div className="comment__ratings ratings">
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
						</div>
					</div>
				</div>
			</header>
			<div className="comment__body">
				<h4 className="comment__title">The Best Designs I’ve ever Seen</h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
			</div>
		</div>
	</li>
	<li className="comments__item">
		<div className="comments__inner">
			<header className="comment__header">
				<div className="comment__author">
					<figure className="comment__author-avatar">
						<img src="{{../root}}assets/images/esports/samples/avatar-14-sm.jpg" alt="">
					</figure>
					<div className="comment__author-info">
						<h5 className="comment__author-name">The Speedtester</h5>
						<time className="comment__post-date" datetime="2016-08-23">18 hours ago</time>
						<div className="comment__ratings ratings">
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star empty"></i>
						</div>
					</div>
				</div>
			</header>
			<div className="comment__body">
				<h4 className="comment__title">Shipping Issues!</h4>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit, sed quia ratione.
			</div>
		</div>
	</li>
</ul>
<!-- Product Reviews / End -->
