<header className="product-tabs__header">
	<h2>3 Customer Reviews</h2>
	<div className="ratings">
		<i className="fas fa-star"></i>
		<i className="fas fa-star"></i>
		<i className="fas fa-star"></i>
		<i className="fas fa-star"></i>
		<i className="fas fa-star empty"></i>
		<span className="ratings-result">
			4.33/5 out of 3 reviews
		</span>
	</div>
</header>

<!-- Product Reviews -->
<ul className="comments comments--left-thumb">
	<li className="comments__item">
		<div className="comments__inner">
			<header className="comment__header">
				<div className="comment__author">
					<figure className="comment__author-avatar">
						<img src="assets/images/samples/avatar-10.jpg" alt="">
					</figure>
					<div className="comment__author-info">
						<h5 className="comment__author-name">Jennifer Stevens</h5>
						<time className="comment__post-date" datetime="2016-08-23">5 hours ago</time>
						<div className="comment__ratings ratings">
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star empty"></i>
						</div>
					</div>
				</div>
			</header>
			<div className="comment__body">
				<h4 className="comment__title">Incredible Sneakers!!</h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis eder nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</li>
	<li className="comments__item">
		<div className="comments__inner">
			<header className="comment__header">
				<div className="comment__author">
					<figure className="comment__author-avatar">
						<img src="assets/images/samples/avatar-9.jpg" alt="">
					</figure>
					<div className="comment__author-info">
						<h5 className="comment__author-name">Jake Casspon</h5>
						<time className="comment__post-date" datetime="2016-08-23">2 days ago</time>
						<div className="comment__ratings ratings">
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
						</div>
					</div>
				</div>
			</header>
			<div className="comment__body">
				<h4 className="comment__title">The Best Designs I’ve ever Seen</h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis eder nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
		</div>
	</li>
	<li className="comments__item">
		<div className="comments__inner">
			<header className="comment__header">
				<div className="comment__author">
					<figure className="comment__author-avatar">
						<img src="assets/images/samples/avatar-7.jpg" alt="">
					</figure>
					<div className="comment__author-info">
						<h5 className="comment__author-name">The Speedtester</h5>
						<time className="comment__post-date" datetime="2016-08-23">4 months ago</time>
						<div className="comment__ratings ratings">
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star"></i>
							<i className="fas fa-star empty"></i>
						</div>
					</div>
				</div>
			</header>
			<div className="comment__body">
				<h4 className="comment__title">Comfort and Price, all in One!</h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis eder nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</li>
</ul>
<!-- Product Reviews / End -->
