<!-- Header
================================================== -->

{{> _esports_header-mobile }}

<!-- Header Desktop -->
<header className="header header--layout-4">

	{{> _esports_header-top-bar }}

	<!-- Header Secondary -->
	<div className="header__secondary">
		<div className="container">
			<div className="header__secondary-inner">

				{{> _esports_header-logo }}

				{{> _esports_header-search-form position="left" }}

				{{> _esports_header-info-block }}

			</div>
		</div>
	</div>
	<!-- Header Secondary / End -->

	<!-- Header Primary -->
	<div className="header__primary header__primary--center">
		<div className="container">
			<div className="header__primary-inner">

				{{> _esports_header-nav }}

			</div>
		</div>
	</div>
	<!-- Header Primary / End -->

</header>
<!-- Header / End -->
