<!-- Post Sharing Buttons -->
<div className="post-sharing">
	<Link href="#" className="btn btn-default btn-facebook btn-icon btn-block"><i className="fab fa-facebook"></i> <span className="post-sharing__label d-none d-sm-inline-block">Share on Facebook</span></Link>
	<Link href="#" className="btn btn-default btn-twitter btn-icon btn-block"><i className="fab fa-twitter"></i> <span className="post-sharing__label d-none d-sm-inline-block">Share on Twitter</span></Link>
</div>
<!-- Post Sharing Buttons / End -->
