<!-- Post Sharing Buttons -->
<div className="post-sharing-compact {{class}}">
	<Link href="#" className="btn btn-default btn-sm btn-facebook btn-icon"><i className="fab fa-facebook"></i></Link>
	<Link href="#" className="btn btn-default btn-sm btn-twitter btn-icon"><i className="fab fa-twitter"></i></Link>
	<Link href="#" className="btn btn-default btn-sm btn-instagram btn-icon"><i className="fab fa-instagram"></i></Link>
</div>
<!-- Post Sharing Buttons / End -->
