<!-- Post Comments -->
<div className="post-comments card">
	<header className="post-commments__header card__header">
		<h4>18 Comments</h4>
	</header>
	<div className="post-comments__content card__content">

		<ul className="comments comments--alt">
			<li className="comments__item">
				<div className="comments__inner">
					<header className="comment__header">
						<div className="comment__author">
							<figure className="comment__author-avatar comment__author-avatar--md">
								<img src="{{../root}}assets/images/samples/avatar-8.jpg" alt="">
							</figure>
						</div>
					</header>
					<div className="comment__inner-wrap">
						<div className="comment__author-info">
							<h5 className="comment__author-name">Robert Stark</h5>
							<time className="comment__post-date" datetime="2017-08-23">5 minutes ago</time>
						</div>
						<div className="comment__body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
						</div>
						<div className="comment__reply">
							<Link href="/"  className="comment__reply-link">Reply</Link>
						</div>
					</div>
				</div>
			</li>
			<li className="comments__item">
				<div className="comments__inner">
					<header className="comment__header">
						<div className="comment__author">
							<figure className="comment__author-avatar comment__author-avatar--md">
								<img src="{{../root}}assets/images/samples/avatar-2.jpg" alt="">
							</figure>
						</div>
					</header>
					<div className="comment__inner-wrap">
						<div className="comment__author-info">
							<h5 className="comment__author-name">Samantha Rodgers</h5>
							<time className="comment__post-date" datetime="2017-08-23">27 minutes ago</time>
						</div>
						<div className="comment__body">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam tatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.
						</div>
						<div className="comment__reply">
							<Link href="/"  className="comment__reply-link">Reply</Link>
						</div>
					</div>
				</div>
				<ul className="comments--children">
					<li className="comments__item">
						<div className="comments__inner">
							<header className="comment__header">
								<div className="comment__author">
									<figure className="comment__author-avatar comment__author-avatar--md">
										<img src="{{../root}}assets/images/samples/avatar-6.jpg" alt="">
									</figure>
								</div>
							</header>
							<div className="comment__inner-wrap">
								<div className="comment__author-info">
									<h5 className="comment__author-name">Lagertha Dax</h5>
									<time className="comment__post-date" datetime="2017-08-23">29 mins ago</time>
								</div>
								<div className="comment__body">
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sectetur, adipisci velit, sed quia non numquam eius modi tempora.
								</div>
								<div className="comment__reply">
									<Link href="/"  className="comment__reply-link">Reply</Link>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</li>
			<li className="comments__item">
				<div className="comments__inner">
					<header className="comment__header">
						<div className="comment__author">
							<figure className="comment__author-avatar comment__author-avatar--md">
								<img src="{{../root}}assets/images/esports/samples/avatar-14-md.jpg" alt="">
							</figure>
						</div>
					</header>
					<div className="comment__inner-wrap">
						<div className="comment__author-info">
							<h5 className="comment__author-name">Alexander Stevens</h5>
							<time className="comment__post-date" datetime="2017-08-23">6 days ago</time>
						</div>
						<div className="comment__body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
						</div>
						<div className="comment__reply">
							<Link href="/"  className="comment__reply-link">Reply</Link>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<footer className="card__footer post__comments-load-more">
		<div className="row justify-content-center">
			<div className="col-md-6">
				<button className="btn btn-primary btn-block">Load More Comments (14)</button>
			</div>
		</div>
	</footer>

</div>
<!-- Post Comments / End -->
