<footer className="post__footer">
	<div className="post__tags post__tags--simple">
		<Link href="/" >Xenowatch</Link>
		<Link href="/" >Idaho Esports</Link>
		<Link href="/" >Finals</Link>
		<Link href="/" >Tournament</Link>
		<Link href="/" >League</Link>
		<Link href="/" >Destroy</Link>
		<Link href="/" >Match</Link>
		<Link href="/" >Winners</Link>
		<Link href="/" >Prize</Link>
	</div>
</footer>
