<!-- Related Posts -->
<div className="post-related row">
	<div className="col-6">
		<!-- Prev Post -->
		<div className="card post-related__prev">
			<div className="card__content">

				<!-- Prev Post Links -->
				<Link href="#" className="btn-nav">
					<i className="fas fa-chevron-left"></i>
				</Link>
				<!-- Prev Post Links / End -->

				<ul className="posts posts--simple-list">
					<li className="posts__item posts__item--category-1">
						<div className="posts__inner">
							<div className="posts__cat">
								<span className="label posts__cat-label">Injuries</span>
							</div>
							<h6 className="posts__title"><Link href="#">The new eco friendly stadium won a Leafy Award in 2016</Link></h6>
							<time datetime="2016-08-23" className="posts__date">August 23rd, 2016</time>
						</div>
					</li>
				</ul>

			</div>
		</div>
		<!-- Prev Post / End -->
	</div>
	<div className="col-6">
		<div className="card post-related__next">
			<!-- Next Post -->
			<div className="card__content">

				<ul className="posts posts--simple-list">
					<li className="posts__item posts__item--category-1">
						<div className="posts__inner">
							<div className="posts__cat">
								<span className="label posts__cat-label">Injuries</span>
							</div>
							<h6 className="posts__title"><Link href="#">The team is starting a new power breakfast regimen</Link></h6>
							<time datetime="2016-08-23" className="posts__date">August 23rd, 2016</time>
						</div>
					</li>
				</ul>

				<!-- Next Post Link -->
				<Link href="#" className="btn-nav">
					<i className="fas fa-chevron-right"></i>
				</Link>
				<!-- Next Post Link / End -->

			</div>
			<!-- Next Post / End -->
		</div>
	</div>
</div>
<!-- Related Posts / End -->
