<footer className="post__footer">
	<div className="post__tags">
		<Link href="/"  className="btn btn-primary btn-outline btn-xs">Playoffs</Link>
		<Link href="/"  className="btn btn-primary btn-outline btn-xs">Idaho Esports</Link>
		<Link href="/"  className="btn btn-primary btn-outline btn-xs">Injuries</Link>
		<Link href="/"  className="btn btn-primary btn-outline btn-xs">Team</Link>
		<Link href="/"  className="btn btn-primary btn-outline btn-xs">Uniforms</Link>
		<Link href="/"  className="btn btn-primary btn-outline btn-xs">Champions</Link>
	</div>
</footer>
