<!-- Post Comment Form -->
<div className="post-comment-form card card--lg">
	<header className="post-comment-form__header card__header">
		<h4>Write a Comment</h4>
	</header>
	<div className="post-comment-form__content card__content">
		<form action="#" className="comment-form">
			<div className="row">
				<div className="col-md-6">
					<div className="form-group">
						<label className="control-label" for="input-name">Name</label>
						<input type="text" id="input-name" name="input-name" className="form-control">
					</div>
				</div>
				<div className="col-md-6">
					<div className="form-group">
						<label className="control-label" for="input-email">Email</label>
						<input type="email" id="input-email" name="input-email" className="form-control">
					</div>
				</div>
			</div>
			<div className="form-group">
				<label className="control-label" for="textarea-comment">Your Comment</label>
				<textarea name="textarea-comment" id="textarea-comment" rows="7" className="form-control"></textarea>
			</div>
			<div className="form-group">
				<button type="submit" className="btn btn-default btn-block btn-lg">Post Your Comment</button>
			</div>
		</form>
	</div>
</div>
<!-- Post Comment Form / End -->
