<!-- Related Posts -->
<div className="post-related">
	<div className="card card--clean">
		<div className="card__header">
			<h4>Related Articles</h4>
		</div>
		<div className="card__content">
			<div className="row posts--cards">
				<div className="col-md-6">
					<!-- Prev Post -->
					<div className="posts__item posts__item--card posts__item--category-2 card">
						<figure className="posts__thumb">
							<div className="posts__cat">
								<span className="label posts__cat-label">Injuries</span>
							</div>
							<Link href="/" ><img src="{{../root}}assets/images/samples/post-img1.jpg" alt=""></Link>
						</figure>
						<div className="posts__inner card__content">
							<Link href="/"  className="posts__cta"></Link>
							<time datetime="2016-08-23" className="posts__date">August 23rd, 2016</time>
							<h6 className="posts__title"><Link href="/" >Mark Johnson has a Tibia Fracture and is gonna be out</Link></h6>
						</div>
						<footer className="posts__footer card__footer">
							<div className="post-author">
								<figure className="post-author__avatar">
									<img src="{{../root}}assets/images/samples/avatar-2.jpg" alt="Post Author Avatar">
								</figure>
								<div className="post-author__info">
									<h4 className="post-author__name">Jessica Hoops</h4>
								</div>
							</div>
							<ul className="post__meta meta">
								<li className="meta__item meta__item--views">2369</li>
								<li className="meta__item meta__item--likes"><Link href="/" ><i className="meta-like icon-heart"></i> 530</Link></li>
								<li className="meta__item meta__item--comments"><Link href="/" >18</Link></li>
							</ul>
						</footer>
					</div>
					<!-- Prev Post / End -->
				</div>
				<div className="col-md-6">
					<!-- Next Post -->
					<div className="posts__item posts__item--card posts__item--category-1 card">
						<figure className="posts__thumb">
							<div className="posts__cat">
								<span className="label posts__cat-label">The Team</span>
							</div>
							<Link href="/" ><img src="{{../root}}assets/images/samples/post-img2.jpg" alt=""></Link>
						</figure>
						<div className="posts__inner card__content">
							<Link href="/"  className="posts__cta"></Link>
							<time datetime="2016-08-23" className="posts__date">August 23rd, 2016</time>
							<h6 className="posts__title"><Link href="/" >Cheerleader tryouts will start next Friday at 5PM</Link></h6>
						</div>
						<footer className="posts__footer card__footer">
							<div className="post-author">
								<figure className="post-author__avatar">
									<img src="{{../root}}assets/images/samples/avatar-2.jpg" alt="Post Author Avatar">
								</figure>
								<div className="post-author__info">
									<h4 className="post-author__name">Jessica Hoops</h4>
								</div>
							</div>
							<ul className="post__meta meta">
								<li className="meta__item meta__item--views">2369</li>
								<li className="meta__item meta__item--likes"><Link href="/" ><i className="meta-like icon-heart"></i> 530</Link></li>
								<li className="meta__item meta__item--comments"><Link href="/" >18</Link></li>
							</ul>
						</footer>
					</div>
					<!-- Next Post / End -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Related Posts / End -->
