<!-- Post Comments -->
<div className="post-comments card card--lg">
	<header className="post-commments__header card__header">
		<h4>Comments (18)</h4>
	</header>
	<div className="post-comments__content card__content">

		<ul className="comments">
			<li className="comments__item">
				<div className="comments__inner">
					<header className="comment__header">
						<div className="comment__author">
							<figure className="comment__author-avatar">
								<img src="assets/images/samples/avatar-9.jpg" alt="">
							</figure>
							<div className="comment__author-info">
								<h5 className="comment__author-name">Jake Casspon</h5>
								<time className="comment__post-date" datetime="2016-08-23">2 hours ago</time>
							</div>
						</div>
						<div className="comment__reply">
							<Link href="/"  className="comment__reply-link btn btn-link btn-xs">Reply</Link>
						</div>
					</header>
					<div className="comment__body">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etolor dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
					</div>
				</div>
			</li>
			<li className="comments__item">
				<div className="comments__inner">
					<header className="comment__header">
						<div className="comment__author">
							<figure className="comment__author-avatar">
								<img src="assets/images/samples/avatar-10.jpg" alt="">
							</figure>
							<div className="comment__author-info">
								<h5 className="comment__author-name">Jennifer Stevens</h5>
								<time className="comment__post-date" datetime="2016-08-23">5 hours ago</time>
							</div>
						</div>
						<div className="comment__reply">
							<Link href="/"  className="comment__reply-link btn btn-link btn-xs">Reply</Link>
						</div>
					</header>
					<div className="comment__body">
						Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
					</div>
				</div>
				<ul className="comments--children">
					<li className="comments__item">
						<div className="comments__inner">
							<header className="comment__header">
								<div className="comment__author">
									<figure className="comment__author-avatar">
										<img src="assets/images/samples/avatar-7.jpg" alt="">
									</figure>
									<div className="comment__author-info">
										<h5 className="comment__author-name">The Speedtester</h5>
										<time className="comment__post-date" datetime="2016-08-23">3 hours ago</time>
									</div>
								</div>
								<div className="comment__reply">
									<Link href="/"  className="comment__reply-link btn btn-link btn-xs">Reply</Link>
								</div>
							</header>
							<div className="comment__body">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
							</div>
						</div>
					</li>
				</ul>
			</li>
			<li className="comments__item">
				<div className="comments__inner">
					<header className="comment__header">
						<div className="comment__author">
							<figure className="comment__author-avatar">
								<img src="assets/images/samples/avatar-11.jpg" alt="">
							</figure>
							<div className="comment__author-info">
								<h5 className="comment__author-name">Marina Universe</h5>
								<time className="comment__post-date" datetime="2016-08-23">5 hours ago</time>
							</div>
						</div>
						<div className="comment__reply">
							<Link href="/"  className="comment__reply-link btn btn-link btn-xs">Reply</Link>
						</div>
					</header>
					<div className="comment__body">
						Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
					</div>
				</div>
			</li>
		</ul>

		<!-- Comments Pagination -->
		<nav aria-label="Comments Pavigation" className="post__comments-pagination" aria-label="Comments navigation">
			<ul className="pagination justify-content-center">
				<li className="page-item active"><Link className="page-link" href="/" >1</Link></li>
				<li className="page-item"><Link className="page-link" href="/" >2</Link></li>
				<li className="page-item"><Link className="page-link" href="/" >3</Link></li>
				<li className="page-item"><span className="page-link">...</span></li>
				<li className="page-item"><Link className="page-link" href="/" >16</Link></li>
			</ul>
		</nav>
		<!-- Comments Pagination / End -->

	</div>
</div>
<!-- Post Comments / End -->
